[2015-01-29 02:57] bluee opened #2 "pre-alpha version"
Thanks for writing a MongoDB plug-in for Hangfire!

You write it's a pre-alpha, but could you elaborate if it is tested to work, if you plan to work more on it?

[2015-05-26 12:16] mridulsri opened #4 "Command '$eval' failed: not authorized on <myDB> to execute command"
when the MongoDB running under --auth mode. The below exception throwing in  MongoExtensions helper class.
Error:
Command '$eval' failed: not authorized on hangfire_db to execute command
{ $eval: new Date() }
(response: { "ok" : 0.0, "errmsg" : "not authorized on hangfire_db to execute command { $eval: new Date() }", "code" : 13 })

I can able to connect properly using mongodb credentials. But not

[2015-05-30 22:25] imperugo opened #5 "Is project active?"
Hi,
I saw that is using an old version on MongoDb C# Driver and also Hangfire is an old version so I wonder if the project is active or not.

Thx

[2015-06-01 00:36] sergun commented on #5
@imperugo Yes, it's active. But as usual need a time to maintain it.
I will update everything a bit later. Sorry for inconvenience.

[2015-06-01 00:36] #5 closed

[2015-06-01 00:39] sergun commented on #2
@bluee I'm using it for personal blog and didn't noticed anything wrong yet. But there was not any serious testing, that is why it's in alpha mode. I would prefer to wait a bit and make it release a bit later once folks try it out.

[2015-07-02 00:32] #2 closed

[2015-07-02 00:54] sergun commented on #4
Hi @mridulsri
Maybe some suggestions how to handle this?

[2015-07-03 07:57] mridulsri commented on #4
Hi Sergey,

As per MongoDB official site the behavior of "eval" commond is different
form other one.
It takes write -lock, restriction with Sharded Data and access-control. You
can find more details on MongoDB Official site(
http://docs.mongodb.org/manual/reference/command/eval/)
Since our MongoDB Server running in "auth" mode, So I can not use or
execute the "eval" command. Because of some securi

[2015-07-10 08:00] pachman opened #7 "Build error after add Hangfire.Mongo in reference"
The type or namespace name 'Mongo' does not exist in the namespace 'Hangfire' (are you missing an assembly reference?)

using Hangfire;
using Hangfire.Mongo;
using HangFireExample;
using Microsoft.Owin;
using Owin;
[assembly: OwinStartup(typeof(Startup))]
namespace HangFireExample
{
    public class Startup
    {
        public void Configuration(IAppBuilder app)
        {
            string conne

[2015-07-10 14:37] #7 closed

[2015-07-10 14:37] pachman commented on #7
need framework  4.5.1

[2015-07-12 10:22] #4 closed

[2015-09-28 10:51] rolfwessels opened #10 "Very high CPU usage"
Hi,

I've used hanfire.mongo in a little project before and it works great. Thank you for the hard work.

I recently tried to use it again and I get a constant 100% cpu usage even though there are no processes running.

HangFire.Mongo version=0.2.2
mongocsharpdriver version=2.0.1

It seems that if I downgrade mongo and hangfire.mongo (no other changes). Then the problem goes away,

mongocsharpdriv

[2015-09-28 15:05] sergeyzwezdin commented on #10
Thank you for your kind of word.
You are right. I noticed the same behavior by myself. The reason is `mongoscharpdriver` migrated to async API while HangFire still run everything synchronously. I used `AsyncHelper` to wrap async calls, but seems it increases CPU utilization. I will take a look when's possible to do with it when will have a spare minute and will release the fix.

[2015-09-30 03:35] Thieund commented on #10
Hi Sergeyzwezdin,
Could you please have a look at it now?  I really need this to be solve, and I cannot downgrade to previous version because I'm using mongoscharpdriver 2.x in many other places of my solution.
Thank you very much in advance.

[2015-09-30 04:30] sergeyzwezdin commented on #10
@Thieund I would suggest to use these options as a temprorary solution. Just pass your `MongoStorageOptions` object as third parameter for `GlobalConfiguration.Configuration.UseMongoStorage`.

[2015-09-30 04:32] Thieund commented on #10
Thank you for your quick response, Sergeyzwezdin.
I'll do that for now.

[2015-09-30 12:32] rolfwessels commented on #10
For now I will keep using the older version. Let us know when you have made the update.

Thanks

[2015-10-02 12:34] maleet opened #11 "Replace polling with publish-subscribe"
Any plans on replacing polling with something more real-time like described here:
http://tugdualgrall.blogspot.fr/2015/01/how-to-create-pubsub-application-with.html

I'm not a mongodb specialist so I'm just googling around some alternatives for hangfire with MSSQL+MSMQ usage. I need instant job handling so polling don't fit.

[2015-10-02 14:02] sergeyzwezdin commented on #11
No plans for the moment. May be in future.

[2015-10-06 19:03] lukasroberts opened #12 "Not enqueueing jobs after large load"
Hi there

I have ran into a problem whilst using the MongoDB driver. When i queue 250 jobs at once with a maximum number of retries of two after a few minutes, all the jobs fail to be enqueued and remain in the scheduled state.

The Hangfire.Mongo version is 0.2.1, and runs fine otherwise. From a guess it looks like the database cannot handle the large load of job states transitioning. I tried the

[2015-10-07 01:10] sergeyzwezdin commented on #12
Hi @lukasroberts
There is another issue #10 - I guess it's all related. I will take a look what to do with that.

[2015-10-07 08:14] lukasroberts commented on #12
I'm not sure it is related, as i am using the older non async version. I just updated Hangfire to 1.5.0 and it does not seem to be putting anywhere near as much load on Mongo. Potentially this was a HangFire issue?

[2015-10-07 08:27] sergeyzwezdin commented on #12
I don't know. @odinserj - what do you think?

[2015-11-02 07:47] Thieund opened #15 "DisableConcurrentExecution seems not to work"
Hi there,
I'm using DisableConcurrentExecution(600) to disable concurrency. I've tested it with thread.delay(10') but the tasks still run in parallel. I'm wonder if Hangfire.Mongo supports this attribute ?

[2015-11-02 17:52] sergeyzwezdin commented on #15
Hi @Thieund
Will check later, thanks!

[2015-11-03 09:32] Thieund opened #16 "Monitoring issue - jobs not shown"
Hi Sergey,
I experienced the problem that some jobs are shown only when the big page size (500) is selected.
I think in the GetJobs function, the .Select((data, i) => new { Index = i + 1, Data = data }) should be called after the .Where(...) filter...
Pls correct me if I'm wrong.

[2015-11-03 20:44] sergeyzwezdin commented on #16
Hi @Thieund
Yep, it's very possible. Let me check, and I'll come back.

[2015-11-10 09:35] Thieund commented on #16
Hi Sergey,
FYI (or you already knew): What I wrote here is exactly the same as pull request #14.

[2015-11-19 17:59] runxc1 commented on #11
Would doing something like this http://blog.mongodb.org/post/29495793738/pubsub-with-mongodb perform better?

[2015-11-19 20:07] runxc1 opened #18 "Plans on upgrade to Hangfire 1.5?"
I was looking to upgrade this to Hangfire 1.5 as that is what an application I am building is already running and it looks like a number of the interfaces have changed.   Has anyone started looking at that as it looks to be less trivial.

[2015-11-20 03:00] bluee commented on #10
+1 Stuck with SQL Server until fixed :)

[2015-11-20 03:15] sergeyzwezdin commented on #18
Yes, I'm under investigation of this, but still no deadlines though.
I will let you know once it done.

[2015-11-20 03:17] sergeyzwezdin commented on #11
@runxc1 thanks for the link. May be later.

[2015-12-06 09:13] sergeyzwezdin commented on #10
Fixed in `v.0.2.3`, will be released soon.

[2015-12-06 09:13] #10 closed

[2015-12-06 09:14] sergeyzwezdin commented on #16
@Thieund so, #14 fixes this, right?

[2015-12-06 09:15] sergeyzwezdin commented on #18
Done in `v0.2.3`.

[2015-12-06 09:15] #18 closed

[2015-12-07 02:25] Thieund commented on #16
Yes, that's right Sergey.

[2015-12-07 04:23] sergeyzwezdin commented on #16
Thanks.

[2015-12-07 04:23] #16 closed

[2015-12-07 17:02] runxc1 commented on #10
Did migrating to the Mongo csharp 2.1 driver help to solve this issue or was it just changing how often the polling occurs?   I am curious as I have a site which is having high cpu utilization using the 2.0.1 driver and wondering if that could be part of the problem as this mentions that simply upgrading from 1.9 to 2.0 caused high cpu.

[2015-12-08 04:23] sergeyzwezdin commented on #10
@runxc1 it isn't reated to mongo driver. In previous version, after I upgraded Hangfire version I forgot to initialize some parameters. As a result loop interated quite often, which made high CPU utilization :-)
Fix for that described here - https://github.com/sergeyzwezdin/Hangfire.Mongo/commit/1586862b7059f6448f11ab3895d6507271ab7a04
But actually I checked mostly everything in code to find root

[2016-01-07 16:35] lukasroberts opened #22 "Successful job deletion"
Was just wondering if this driver deletes successful jobs once they are complete? Currently this doesn't seem to be the case as my success list grows to a massive value (over 1 million)

From what I've researched this is meant to be the default behaviour as shown here https://discuss.hangfire.io/t/how-to-configure-the-retention-time-of-job/34

[2016-01-08 00:33] sergeyzwezdin commented on #22
Thank you for your feedback. Planned to be fixed in next version.

[2016-01-08 09:50] lukasroberts commented on #22
What would this involve from an implementation perspective? Would it be possible for me to fork a copy and get started on it?

[2016-01-08 12:54] sergeyzwezdin commented on #22
@lukasroberts I'm not sure yet regarding what exactly need to be fixed - need to investigate this. If you can take a look on this it would be very helpful for sure, so feel free to do that :-)

[2016-01-08 16:16] lukasroberts commented on #22
After some investigation, it appears that the ExpirationManager does indeed fire but only at application startup. after this it does not run anymore. What would be the best approach to make this the case?

[2016-01-09 03:49] sergeyzwezdin commented on #22
it might be helpful to check how it's implemented for SQL Server storage.
just check references where is `ExpirationManager` called in that storage and ensure it's called in same place for Mongo :-)

[2016-01-19 11:47] lukasroberts commented on #22
I couldn't notice any difference and i think it is actually running fine after logging the expiration manager

[2016-01-19 11:47] #22 closed

[2016-03-22 13:53] lukasroberts opened #29 "JobId Index speedup"
Hey

I have noticed that adding indexes for the collections state, jobParameter, and jobQueue has helped speed up performance.

I have created these indexes within HangfireDbContext via something like this:

[code]

Do you think this change should be included? It ensures these indexes are created automatically and helps performance for me. On the other hand some people may not want these indexes.

[2016-03-23 00:46] sergeyzwezdin commented on #29
Hi Lukas

Thank you very much. I think it's pretty reasonable. Could you please create PR for this?

[2016-03-25 15:11] wuliao1092 opened #30 "Multiple Mongo servers breaking code"
If there is multiple servers in connection string like mongodb://[username:password@]host1[:port1][,host2[:port2][/[database][?options]].
 Using GlobalConfiguration.Configuration.UseMongoStorage(MongoClientSettings, MongoDbName); will break below part of the code.
obscuredConnectionString = string.Format("mongodb://<username>:<password>@{0}:{1}", _mongoClientSettings.Server.Host,
Here is part of e

[2016-04-01 21:29] Bonkles opened #31 "Mongo.Hangfire service eventually creates too many threads and hangs"
Hello,

I've run into problems with a service that uses hangfire to schedule a recurring Job.
Hangfire.Mongo v0.2.5
Hangfire.Core v1.5.3

The service appears to run fine for roughly a week-10 days, where it uses about 50-70 threads and 75-150MB of memory.

Then, the service will start creeping up in thread count, at precisely one thread per second- I have verified this twice now using resmon. Afte

[2016-04-02 03:07] sergeyzwezdin commented on #31
Thank you for detailed explanation. Could you clarify this points as well:
1. How much Mongo servers do you use?
2. Which kind of Hangfire jobs do you use?
3. How much jobs has been processed during this time?
4. Which OS used to host the application?
5. Does anyone except Hangfire.Mongo accessing this Mongo server at the same time?

@odinserj, may be you have any thoughts on this?

[2016-04-02 03:19] Bonkles commented on #31
1. How much Mongo servers do you use?
We use three.
2. Which kind of Hangfire jobs do you use?
In this service, We have one type of recurring job that runs every three hours. This job can spawn roughly 50-150 immediately executing hangfire jobs (number varies depending on site load).
3. How much jobs has been processed during this time?
Over a 10-day period, roughly 2000-3000 jobs are processed in

[2016-04-04 15:30] briangweber commented on #31
Just a bit to add to @Bonkles' responses (we work together):

- I have a second service that uses Hangfire.Mongo - until today, the second service had been running fine, but we finally encountered this bug in that service. Fortunately, it was not in our production environment.
- For each service, we have 3 instances running simultaneously on separate machines.
- My service does not use recurring j

[2016-04-19 19:07] iamgurdip opened #32 "Return id from GetAllEntriesFromHash method instead of key or both"
when i call the GetAllEntriesFromHash() method it returns the Key (Job Name) as the id, which causes an issue when trying to call GetStateData() which requires an Id not the Key. So currently there is not way to get the state data b/c id is unknown.

[2016-04-19 22:55] chadit opened #33 "An item with the same key has already been added"
Hangfire v1.5.5
Hangfire.Mongo v0.2.5

I get this error "An item with the same key has already been added" when I restart my web application and RecurringJob.AddOrUpdate(... is called.  Memory and SQL providers do not throw this error.

[2016-05-29 01:35] sergeyzwezdin commented on #32
How it's implemented in SQL storage?

[2016-05-29 01:36] sergeyzwezdin commented on #33
@chadit thank you for you report. Could you provide complete steps to reproduce the issue?

[2016-05-29 01:40] sergeyzwezdin commented on #31
@Bonkles sorry, I'm unable to reproduce this in my environment for the moment. If you can debug/profile it on your machines it would be helpful.

[2016-06-20 08:20] icsharp opened #37 "DisableConcurrentExecution attribute cannot support?"
It works well when using sqlserver storage, only one job can be executed at a time.
I try it to use Mongo storage,it does not work...

[2016-06-20 08:40] sergeyzwezdin commented on #37
when it added to HangFire?

[2016-06-20 08:48] icsharp commented on #37
@sergeyzwezdin
when my hangfire server started,I added it to recurringjob ,code as below:
`public interface ISampleService : IAppService
	{
		/// <summary>
		/// Job Test
		/// </summary>
		[DisableConcurrentExecution(600)]
		[AutomaticRetry(Attempts = 3)]
		[DisplayName("Job Test")]
		[Queue("default")]
		void Test();
	}`

`RecurringJob.AddOrUpdate<ISampleService>(x => x.Test(), "*/5 * * * *", Ti

[2016-06-20 08:53] icsharp commented on #37
@sergeyzwezdin
it is the same issuse to https://github.com/sergeyzwezdin/Hangfire.Mongo/issues/15

[2016-06-20 09:03] sergeyzwezdin commented on #37
I guess `DisableConcurrentExecution` appeared in hangfire after initial release of hangfire.mongo.
You can make PR if you need it asap, or wait until I have time for this :-)

[2016-06-20 09:10] icsharp commented on #37
@sergeyzwezdin
I host hangfire server in windows service, you can test if you have time,thanks for you reply.

[2016-06-20 09:12] sergeyzwezdin commented on #37
:-)

[2016-06-22 11:22] icsharp commented on #37
@sergeyzwezdin
[code]
I find the ```do ....while ``` loops is always done only one times,so  the condition ```isLockedBySomeoneElse``` maybe is not right,and need to be changed filter ```Builders<DistributedLockDto>.Filter.Ne(_ => _.ClientId, _options.ClientId)``` to ```Builders<DistributedLockDto>.Filter.Eq(_ => _.ClientId, _options.ClientId)```

[2016-07-31 16:26] tmm360 opened #38 "Asp.Net Core compatibility"
Hangfire 1.6.0 has introduced compatibility with Asp.Net Core. Do you have plans for .Net Core support?

[2016-08-01 02:30] sergeyzwezdin commented on #38
Mongo driver (which is used in Hangfire.Mongo) [have no .NET Core support yet](https://jira.mongodb.org/browse/CSHARP-1177).
Will keep this issue opened for possible future support.

[2016-08-04 08:18] gzpbx commented on #38
https://www.nuget.org/packages/MongoDB.Driver/2.3.0-beta1

[2016-08-09 16:30] bruno-garcia commented on #31
I have a 3 MongoDB setup as well. I have 0 jobs in my DB and in the logs I see: Error occurred during execution of 'DelayedJobScheduler' process. Execution will be retried (attempt 138 of 2147483647) in 00:05:00 seconds.

Could not place a lock on the resource 'HangFire:locks:schedulepoller': The lock request timed out.
My first hit on google took me here. @Bonkles you guys solved the problem?

[2016-08-09 16:33] briangweber commented on #31
No, we haven't - in fact, our production servers just crashed this morning (10k+ threads, non-responsive) as a result of this issue. I'm in the process of reverting back to Redis as a backing store.

[2016-08-09 16:33] Bonkles commented on #31
We have not solved the problem. It has reproduced for us many times and we eventually had to revert back to Hangfire.redis to work around this issue.

[2016-08-23 07:00] Number14 commented on #31
We are experiencing the very same problem or at least the exception is the same. There's one difference to the original call stack, in our case the DelayedJobScheduler is included instead of the RecurringJobScheduler. The problem occurs in at least two similar environments with three MongoDB nodes and two Windows service instances running the Hangfire server. We don't have any recurring jobs.

Con

[2016-08-25 07:20] MarLoe commented on #37
I observe this issue as well. I believe it is related to a faulty implemented MongoDistributedLock. I have made a pull request with a fix:
https://github.com/sergeyzwezdin/Hangfire.Mongo/pull/40

[2016-08-25 07:22] MarLoe commented on #15
I observe this issue as well. I believe it is related to a faulty implemented MongoDistributedLock. I have made a pull request with a fix: https://github.com/sergeyzwezdin/Hangfire.Mongo/pull/40

[2016-08-25 21:24] pieceofsummer commented on #38
I have posted a PR #39 adding .NET Core support with beta driver, you're welcomed to try it out.

[2016-08-26 07:37] odinserj commented on #12
Sorry for being late 😞 In Hangfire 1.5.0, there was a fix for a problem with `TaskCanceledException` thrown when processing a background job. Such an exception caused workers to stop one after another until background job server is restarted.

[2016-08-26 08:09] gofix commented on #12
https://discuss.hangfire.io/t/mongodb-storage-driver-not-enqueueing-jobs-after-large-load/1398/2?u=gofix

We're using 1.5.8 and are still experiencing this :(

[2016-08-26 08:11] gofix opened #41 "Enqueuing large number of jobs keep in "awaiting" state"
Using Hangfire.Mongo 0.2.6:
- We're queuing some jobs (130) in a very short time;
- The jobs keep in "Awaiting" state, nothing happens;
- New jobs can be added, nothing happens;

Same scenario seems to work just fine with SqlServer (but we have to deal with a customer using Oracle here, that's why we chose the Hangfire.Mongo scenario), and a smaller queue (28, for example) doesn't expose this prob

[2016-08-26 08:32] odinserj commented on #12
Try to [add logging](http://docs.hangfire.io/en/latest/configuration/configuring-logging.html), this may show some useful information.

We can also investigate thread stacks to see where Hangfire is stuck. I've recently created a small tool, [`stdump`](https://github.com/odinserj/stdump) that attaches to a process in a non-invasive way and shows all the stack traces. Here is the [downloads page](h

[2016-08-29 12:58] ApmeM opened #42 "Possible parallel executing"
There is an issue in MongoDistributedLock file
[code]
Are you sure it is good idea to sleep AFTER you realize that lock is free and going to exit a loop?
In this case if 2 jobs start within 1/20 of timeout interval - both will be executed in a parallel.
I think this sleep should be before 'Find'

Also in case of multiple enqueuing at once like this
[code]

All of them can first check if lock is fr

[2016-08-29 13:02] MarLoe commented on #42
I have spotted a number of issues with the current implementation of MongoDistrubutedLock. This is one of them :)
Also the fact that testing the lock and actually acquiring the lock is not an atomic  operation is a huge issue.
So I have created a pull request:
https://github.com/sergeyzwezdin/Hangfire.Mongo/pull/40
If you want to try it out, look at:
https://github.com/MarLoe/Hangfire.Mongo
https:

[2016-08-29 19:43] kroniak commented on #38
@pieceofsummer rc1 of 2.3.0 driver was released. Please update a PR.

[2016-08-29 20:01] pieceofsummer commented on #38
@kroniak I believe there's currently no need for that.

According to semantic versioning, it will use the latest version (rc1) anyway, but updating min version to `2.3.0-rc1` will block any local builds.

Let's wait for the official release first.

[2016-09-02 15:34] gofix commented on #41
FYI, we're now using https://www.nuget.org/packages/Hangfire.Mongo.MarLoe, in which this very problem seems to be solved (nice work https://www.nuget.org/profiles/MarLoe)

[2016-09-07 09:33] MarLoe commented on #42
I believe this issue is fixed by the merge of pull request #40

[2016-09-07 09:33] #42 closed

[2016-09-07 09:40] MarLoe commented on #37
The Hangfire attribute DisableConcurrentExecution relies heavily on the implementation of JobStorageConnection.AcquireDistributedLock
With the merge of pull request #40 that fixes MongoDistributedLock I believe this issue is resolved.

[2016-09-07 09:40] #37 closed

[2016-09-07 09:44] MarLoe commented on #15
The Hangfire attribute DisableConcurrentExecution relies heavily on the implementation of JobStorageConnection.AcquireDistributedLock
With the merge of pull request #40 that fixes MongoDistributedLock I believe this issue is resolved.

[2016-09-07 09:44] #15 closed

[2016-09-07 09:46] MarLoe commented on #41
Well, thank you @gofix
Since pull request #40 has been merged in, I will close this issue.

[2016-09-07 09:46] #41 closed

[2016-09-07 10:07] MarLoe commented on #31
@Number14 A fix for the MongoDistributedLock has been merged in: #40  I believe it also fixes the issue you mentioned.

@Bonkles could you please verify if #40 has fixed this problem.

Thank you in advance,
@MarLoe

[2016-09-27 11:41] pieceofsummer commented on #38
Updated PR to a 2.3.0 release. But not in the mood to work out MSBuild's newly-introduced quirks, so validation doesn't pass.

[2016-10-01 18:16] Vaiune commented on #38
When could we get this? Definitely looking to try it out.

[2016-10-02 20:05] gottscj commented on #38
I agree, especially if Hangfire.Core supports it. It doesnt build though.
Martin, you have had some communication with "peaceofsummer" ? what do you
think?

On Sat, Oct 1, 2016 at 8:16 PM, Vaiune <notifications@github.com> wrote:

[2016-10-04 18:53] stanislavromanov commented on #38
@pieceofsummer Mongo driver 2.3 is out, any news?

[2016-10-18 08:35] 1dot44mb commented on #31
DistributedLockException happens on our servers when we use "DisableConcurrentException" attribute on a recurring job. If a job runs for too long (too bad TimeOut value does not kill the job if it is still running) and the time comes for next recurring run but the previous job is still running; then this exception occurs and new job fails. If the job never stops, these exceptions stack up and each

[2016-10-29 02:54] Andrew-Brad commented on #38
Also looking forward to this!  Many thanks for everyone's efforts!

[2016-11-01 21:34] MarLoe commented on #31
@1dot44mb sorry for the late answer.

This is expected behavior of the Hangfire DisableConcurrentExecutionAttribute. If you look at the SqlServer implementation of  [DistributedLock](https://github.com/HangfireIO/Hangfire/blob/master/src/Hangfire.SqlServer/SqlServerDistributedLock.cs) you will see the exact same pattern.

If your jobs starts stacking up, you might want to consider increasing the t

[2016-11-23 10:47] dsoronda commented on #38
Can you please fix this issue ? I would like to use Hangfire on DotNet Core with MongoDb as backend. Thanks

[2016-11-28 10:13] MarLoe commented on #29
@lukasroberts, I will consider this issue implemented. Please upgrade to Hangfire.Mongo ver. 0.2.8 to take advantage of this.

[2016-11-28 10:13] #29 closed

[2016-11-28 10:16] MarLoe commented on #33
@chadit, I cannot reproduce this issue. Please upgrade to Hangfire.Mongo ver. 0.2.8 and see if you still have this issue. If you do, please comment on this issue or create a new one.

[2016-11-28 10:16] #33 closed

[2016-11-28 10:23] MarLoe commented on #31
As no one has reported back and we cannot reproduce locally, I will close this issue for now. Please add comments if new information occurs or the issue still appears.

[2016-11-28 10:23] #31 closed

[2016-11-28 10:26] MarLoe commented on #38
Please checkout PR #49

[2016-11-29 14:44] MarLoe commented on #38
Release 0.3.0 includes .NET Standard 1.5 support.

[2016-11-29 14:44] #38 closed

[2016-11-29 15:12] adsamcik commented on #38
Package Hangfire.Mongo 0.3.0 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package Hangfire.Mongo 0.3.0 supports: net45 (.NETFramework,Version=v4.5)

[2016-11-30 10:29] MarLoe commented on #38
@adsamcik, thank you for your feedback.

You are absolutely right! Someone forgot to include the .NET Standard 1.5 libraries in the NuGet. The responsible person has been identified and according to our CDD (Cake Driven Development) he will bring cake tomorrow.

A new NuGet 0.3.1 has been released. Please update and let us know how it works.

@marloe remember to bring cake.

[2016-11-30 10:42] adsamcik commented on #38
@MarLoe It looks happy, thanks :)

[2016-12-03 13:42] adsamcik opened #50 "Jobs keep re-processing without ever starting"
I don't know if I've done something wrong but it worked before I changed from sql to mongo.

What exactly happens is that job gets queued and starts processing and starts processing and starts processing and so on. So in the history there can be tens of processing states but it seems to never finish or fail. I put a bunch of WriteLines to find how are the processes executed and where they end and

[2016-12-04 01:18] maouida commented on #50
I'm experiencing a similar issue. The jobs stays in `Enqueued` state and never get executed. When I switch to SqlServer, it works correctly.

[2016-12-05 06:30] kienct89 opened #51 "Cannot get jobs due to KeyNotFoundException"
## Environment:

- .NET framework 4.6.1
- MongoDB.Driver 2.3.0
- Hangfire.Mongo 0.3.1
- Hangfire.Core 1.6.7

## Setup Code:

[code]

## Data in database:

Job:

[code]

State:

[code]

## Error details:

[code]

[2016-12-05 08:20] gottscj commented on #51
Hi @kienct89,

Looking at your "State" data, it seems that the "Data" object is in Camel-Case instead of Pascal-Case.
I can see that "succeededAt", should be reflected as "SucceededAt" in your mongo db.

Do you have a special serializer configuration?

[2016-12-05 09:26] gottscj commented on #50
Hi @adsamcik and @maouida,

Thank you for your feedback, I have created a small .netcore app and cannot reproduce what your are seeing.
Could I get you to try it out?
(Even though Github says it allows .zip, I was unsuccessful in uploading this, so I put it on my onedrive)

https://1drv.ms/u/s!AqZWS5rQI9zmsGe6A5S9fmNrjKeB

Also could you add some more debug info?

Thanks
Jonas

[2016-12-05 09:26] kienct89 commented on #51
@gottscj : hi gottscj, I didn't specify the `ContractResolver` in my `JobHelper.SerializerSettings`

here's my setup code

[code]

[2016-12-05 10:44] MarLoe commented on #51
@kienct89, I just tried to reproduce with this config:

`JobHelper.SetSerializerSettings(new JsonSerializerSettings
            {
                NullValueHandling = NullValueHandling.Ignore,
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
                ContractResolver = new CamelCasePropertyNamesContractResolver()
            });`

This will expose the error you are seein

[2016-12-05 14:11] kienct89 commented on #51
@MarLoe @gottscj thanks for your help, I'm able to resolve it by overriding the `ContractResolver` to the `DefaultContractResolver`

JobHelper.SetSerializerSettings(new JsonSerializerSettings
{
    NullValueHandling = NullValueHandling.Ignore,
    ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
    ContractResolver = new DefaultContractResolver()
});

[2016-12-05 14:11] #51 closed

[2016-12-05 14:16] adsamcik commented on #50
@gottscj I don't have mongodb locally so I couldn't test yours. but I have created new asp.net core 1.1 project from scratch and included at the end of configure
`JobStorage.Current = new MongoStorage("mongodb://localhost", "mymongotest");
            using (var server = new BackgroundJobServer()) {
                for (var i = 0; i < 10; i++) {
                    BackgroundJob.Enqueue(() => Cons

[2016-12-07 15:27] MarLoe commented on #50
@adsamcik, runnig on Ubuntu might explain the problem :)

I do not have much Ubuntu experience, but I am in the process of spinning a virtual Ubuntu up and try it out - to see if I can reproduce what you are seeing.

In the meantime, it would be great with any info you can provide us. Stack traces, debug info etc.

I will get back to you, once I have my Ubuntu running successfully.

[2016-12-07 15:37] adsamcik commented on #50
@MarLoe the program you posted doesn't generate any console output and I don't really have time at this time of semester to dig deeper :) Running it on ubuntu is simple, just follow the dotnet tutorial, paste the source file in there and run it like on windows if you use console. You should be ready in couple of minutes.

[2016-12-08 20:46] MarLoe commented on #50
@adsamcik, I finally have an Ubuntu up and running with .NET Core. And I also see the problem you are experiencing. I have also identified the problem. But it a matter of platform unsupported APIs :(

I am looking into alternatives, but there is no quick fix to the problem. I will get back once I have some news.

[2016-12-08 21:25] adsamcik commented on #50
@MarLoe At least the issue was identified :)

[2016-12-08 23:30] MarLoe commented on #50
@adsamcik, I have made a branch "netcore_unix_support". If you have the time, please download this and try it out. I have included a .NETCore sample project (the one previously attached to this thread), that would allow you to test it easily.

I have only tested this branch on Ubuntu, so I will need to test it on Windows before making a pull request to master.

Enjoy,
Martin

[2016-12-09 12:32] MarLoe commented on #50
@adsamcik & @maouida, made a pull request #53 that should fix your problem. A new NuGet release of hangfire.Mongo will be released once #53 is merged into master.

[2016-12-10 11:53] #50 closed

[2016-12-17 11:22] adsamcik commented on #50
Had a busy week. Tested it right now and it seems to work fine. Found few bugs (or differences from how sql works) but nothing too function breaking. Thanks for the quick patch :)

[2016-12-17 11:37] MarLoe commented on #50
@adsamcik, you're welcome!
Please let us know of your findings between this and the sql implementation. You could create a new issue named e.g. Hangfire.Mongo vs Hangfire.Sql and start listing your findings there.

[2016-12-17 21:43] adsamcik opened #54 "Hangfire.Mongo vs Hangfire.Sql"
I'll keep this updated if I find more. _Everything tested under asp.net core 1.1 on ubuntu._

- History graph works really weirdly. It almost seems it doesn't remember anything.
- Follow up jobs (Continuations) are enqueued as new jobs and are put at the end of the queue, in sql they get executed right after the original job is done.
- Jobs don't disappear right away from queue when deleted.
- Job

[2017-01-12 09:28] jocutajar opened #55 "v 1.0.0 breaks nuget dependencies in dotnet core with full framework, worked in 0.3.2"
This builds:
[code]
This fails:
[code]
With

I suspect case sensitive names to be the culprit:
- Hangfire.AspNetCore.dll
- Hangfire.Core.dll
- Hangfire.Mongo.dll
- Hangfire.SqlServer.dll

[2017-01-12 09:32] jocutajar commented on #38
Hi, anyone has a working example of a dotnet core project.json? Thanks a bunch.

[2017-01-12 09:46] MarLoe commented on #55
@jocutajar I need a bit more info to catch up with what you are experiencing.

Hangfire.Mongo is currently at version 0.3.2, so referencing 1.0.0 will obviously fail.

[2017-01-12 09:52] stanislavromanov commented on #38
@jocutajar I use my own fork of this project which supports .net core. https://www.nuget.org/packages/Stan.Hangfire.Mongo/

Obv this is not best solution and I plan to switch back to official as soon as it supports .net core.

[2017-01-12 10:06] MarLoe commented on #38
@jocutajar, @stanislavromanov, We should be supporting .net core. Please let me know what is missing/failing in order for us to support .net core correctly.

Thanks in advance

[2017-01-12 10:06] stanislavromanov commented on #38
Oh ok, thanks.

[2017-01-12 10:10] MarLoe commented on #38
@jocutajar, @stanislavromanov, As of v0.3.1 we supported .net core and as of v0.3.2 we support .net core on unix platforms as well.

[2017-01-12 10:11] MarLoe commented on #38
@jocutajar, Have you checked out the .net core sample in this repo?

[Hangfire.Mongo.Sample.NETCore](https://github.com/sergeyzwezdin/Hangfire.Mongo/tree/master/src/Hangfire.Mongo.Sample.NETCore)

[2017-01-12 10:19] jocutajar commented on #38
@MarLoe , thanks, lovely. I was bitten by the v 1.0.0 trouble.

[2017-01-12 11:03] MarLoe commented on #55
@jocutajar according to your comment on #38, this issue seems not to be relevant. Please close it or leave a comment that is can be closed, if you feel that your issue has been resolved.

[2017-01-15 08:17] ful1021 opened #56 "System.UnauthorizedAccessException"
Hangfire.Mongo.DistributedLock.MongoDistributedLockException: Could not release a lock on the resource 'HangFire:locks:schedulepoller': Check inner exception for details. ---> System.UnauthorizedAccessException: 对路径的访问被拒绝。
   在 System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   在 System.Threading.EventWaitHandle.OpenExistingWorker(String name, EventWaitHandleRights rights, Even

[2017-01-17 16:38] #56 closed

[2017-01-20 08:25] MarLoe commented on #55
@jocutajar, will close this issue. Please reopen if you feel you issue has net been resolved.

[2017-01-20 08:25] #55 closed

[2017-01-31 12:56] vegar opened #58 "E11000 duplicated key error writing schema version"
I think this might be a timing issue when starting multiple hangfire server instances at the same time.

[The code](https://github.com/sergeyzwezdin/Hangfire.Mongo/blob/master/src/Hangfire.Mongo/Database/HangfireDbContext.cs#L143-L147) does a 'Delete all->Insert one':

[code]

and I suspect that one instance will insert a new schema document after the second instance checks the version and before

[2017-03-15 08:30] sgrassie opened #59 "Cannot deserialize a 'Dictionary<String, String>' from BsonType 'String'"
When attempting to look at a particular job through the Dashboard, this exception is thrown. The job doesn't appear to be anything special. I suspect this problem will be related to Dashboard changes in Hangfire.Core

[code]

[2017-03-24 19:32] gottscj commented on #59
Hi,

Thanks, sorry for the late reply.

I'll take a look.

[2017-03-24 19:33] gottscj commented on #58
Thanks,

Looks like a bug. I'll take a look.

[2017-04-04 08:59] Hugh-walsh opened #60 "Continue after a batch job does not work"
Queueing up 2 jobs (see below) executes the first job OK but the second one does not execute at all.

var jobTag = BatchJob.StartNew(x =>
{
    foreach (var lcOverrideWithTemplate in overrides)
    {
        x.Enqueue<IStaticsWorkerTasks>(t => t.CalculateLoadcase(designId, dutyCycleId, lcOverrideWithTemplate.templateLoadCaseId, lcOverrideWithTemplate.loadCaseOverride, progressID));
    }
});
jobTa

[2017-04-06 15:11] pavlo-p commented on #59
The problem is that StateDto.Data was changed from String to Dictionary<string, string> and now if you have a portion of data with old string representation then serialization fails. If you want I can implement custom serializer for it.

[2017-04-06 15:29] gottscj commented on #59
That would be great. :)

Thanks!

[2017-04-06 15:46] pavlo-p commented on #59
Pitfall of custom serialization is that it could slow down performance. Maybe it is better to use migration script for it and change all strings to objects like this:

`
db.hangfire.state.find({Data: {$type: "string"}}).noCursorTimeout().forEach(
	function(state){
	  if(state.Data){
	    try {
	      var jsonData = JSON.parse(state.Data);
	      db.hangfire.state.updateOne(
	      	{_id: state._id

[2017-04-06 15:49] pavlo-p commented on #59
But I don't know how you will include it in release.

[2017-04-06 15:51] sgrassie commented on #59
I would suggest the migration script option. I can test it next week on a
large system.

On Thu, 6 Apr 2017, 16:46 Pavlo Podopryhora, <notifications@github.com>
wrote:

Pitfall of custom serialization is that it could slow down performance.
Maybe it is better to use migration script for it and change all strings to
objects like this:

`
db.hangfire.state.find({Data: {$type: "string"}}).noCursorTim

[2017-04-06 16:08] pavlo-p commented on #59
I just tested it on test db and it took 20 minutes to update 200k.

[2017-04-07 07:08] pavlo-p commented on #59
@gottscj, what do you think about script approach?

[2017-04-07 08:53] gottscj commented on #60
Hi @Hugh-walsh,

Thank you for submitting this. Unfortunately we don't have access to Hangfire.Pro features, this is uncharted territory.

We will contact @odinserj to try to get support on this.

[2017-04-07 08:55] gottscj commented on #54
Hi @adsamcik, sorry for the late reply, any news on this? :)

[2017-04-07 14:36] odinserj commented on #60
Hi @gottscj, there may be problems even with regular background jobs as well. I've noticed that the `MongoWriteOnlyTransaction.Commit` method isn't atomic, and there may be problems with consistency. Nobody should see/modify the data referenced by a transaction, when it's running, and it should be either fully performed, or fully rolled back. I'm not sure how to achieve this with MongoDB, and don'

[2017-04-07 18:34] gottscj commented on #59
@pavlo-p,

Thanks! :) The best approach would be migrations. We would like to take the time to define a strategy for that.
For now I have pushed a branch where I implemented a simple serializer which checks for BsonType.String.

I would not expect a performance overhead as we, before, used NewtonSoft to deserialize the string to Dictionary<string, string>. Now were just doing it with the BsonSeria

[2017-04-08 07:42] adsamcik commented on #54
I have kept it updated and I have been meaning to try and improve some of it, but unfortunately I am quite busy lately. Maybe in a month or two.

[2017-04-11 18:33] gottscj commented on #60
Hi @odinserj,

Thank you for the feedback. We will look into honor the need for atomic commits. Its definitely possible to fix. either with distributed lock or two phase commits.

[2017-04-13 10:45] RodrigoLimasss opened #61 "Hangfire.Mongo.DistributedLock.MongoDistributedLockException: Could not release a lock on the resource 'HangFire:locks:schedulepoller'"
Hi, I got this error using Hangfire.Mongo drive.

**Environment:**
- Win. Server 2012;
- 3 nodes of MongoDB with replication set;
- Hangfire.Pro: 1.4.7.0;
- Hangfire.Core: 1.6.8.0;
- Hangfire.Mongo: 0.3.2.201;

1000 jobs are executed every 15 min and 7 jobs at a time.

----
**Message:** Hangfire.Mongo.DistributedLock.MongoDistributedLockException: Could not release a lock on the resource 'HangFire

[2017-04-13 17:14] MirreJensen commented on #30
Faced the same issue. You've got to use the MongoUrlBuilder and set all the the ReplicaSet options.

[2017-04-19 17:44] ZOXEXIVO opened #62 "Unusable after 15-30 enqueued jobs per second"
Sergey, i think, you test your provider with 10 jobs in day, but try to make some load to your provider with big arguments in jobs.
After small load - system is unresponsible. Dashboard opening for minutes!
Enqueued jobs processed with 5-10 seconds per job. It's really bad

[2017-04-20 18:54] gottscj commented on #62
@ZOXEXIVO,

Could you elaborate on how you produce this behavior?

If you run the sample you can start 1000 jobs via the hangfire dashboard? did you try this?

Thanks
Jonas

[2017-04-24 20:10] gottscj commented on #62
@ZOXEXIVO,

Hangfire's worker count is 20, per default. If you start jobs which takes 10s to run in a loop, you will quickly exhaust your resources.

I added a branch: https://github.com/sergeyzwezdin/Hangfire.Mongo/tree/Issue%2362_BigSlowJobs
Does this mimic your setup?

On my workstation it finishes 100 long running (10s) jobs in 54989.3418 ms with 25 workers.

Hangfire is originally build with

[2017-04-25 16:21] gottscj commented on #59
Fixed in #64

[2017-04-25 16:21] #59 closed

[2017-04-26 00:44] asciutto990 opened #65 "State and JobParameter documents never get deleted"
I'm using MongoStorageOptions default values. I'm running on azure and my app is always on. Not one document has been deleted after the default expiration time. Is this a known issue or is there something else I need to configure?

[2017-04-28 21:26] gottscj commented on #65
@asciutto990,

Looks like a bug to me. Do you know how the SqlStorage behaves?

Thanks,
Jonas

[2017-04-28 21:34] asciutto990 commented on #65
I haven't tested it out but as per it's documentation, successful jobs should be cleaned up upon expiration.

[2017-05-10 19:08] gottscj commented on #61
@RodrigoLimasss,

Sorry for the late reply.
I will try to replicate your issue and get back to you.

[2017-05-22 19:35] #58 closed

[2017-05-22 19:36] gottscj commented on #65
Fixed with #66

[2017-05-22 19:36] #65 closed

[2017-05-22 22:08] asciutto990 commented on #65
Great! How long until this is available on NuGet?

[2017-05-23 20:42] gottscj commented on #65
Not long.
Please note this is introduces breaking changes which will require you to drop your jobs db.

We do have some other breaking changes we would like to introduce now, so we don't spread that out on multiple releases.

[2017-05-31 08:37] TimVoo opened #67 "Each enqueued job is created twice via Hangfire.Pro BatchJob feature"
Hi,

When creating a batchrequest via Hangfire.Pro, for each job i create for that batchreqeust , two are getting created.
So in the Hangfire.Dashboard, when i create 100 jobs, it's shows 200 jobs.  My batch request never finishes, because it is only tries executing 100 jobs.

`BatchJob.StartNew(batch =>
            {
                for (int i = 0; i < 2500; i++)
                {

[2017-06-20 20:45] rajivkukreja opened #70 "System.ArgumentException: An item with the same key has already been added"
Greetings -

I just upgraded to 0.4.0 and had to quickly revert back to 0.3.2 because

`GlobalConfiguration.Configuration.UseMongoStorage("<connection string>", "<database name>");`

throws a Null Reference Exception.

Thanks

[2017-06-21 07:14] gottscj commented on #70
@rajivkukreja,

Thanks for adding this. Could please provide the stacktrace?
We should not throw null reference unless the connectionString or databaseName is null.
You did drop your db?

Thanks
Jonas

[2017-06-21 19:04] gottscj commented on #70
Jobs db to be precise. :)

[2017-06-22 02:54] rajivkukreja commented on #70
Thanks Jonas. Definitely confirmed that neither of those 2 arguments are null. Had not dropped the jobs db but will do tomorrow and will post an update.

Thanks again
Rajiv

[2017-07-06 14:12] rajivkukreja commented on #70
After deleting all the collections in the jobs db, the original NullRef exception is gone but it is replaced with this one:

[code]

Note: I am running 5 instances of BackgroundJobServer, each handling a different queue (the only way to constrain queue length in Hangfire).

[2017-07-06 17:48] gottscj commented on #70
Hi,

Thanks for trying it out.
Are you running 0.4.1? Have you tried a clean DB with 0.4.1? There is a bug in the mongodb C# driver. We have submitted a PR to fix it. Meanwhile we have made a workaround in release 0.4.1.

Else can you elaborate on your setup? How many jobs, what kind of jobs. Etc. I will try to reproduce your issue.
I'm currently on vacation, so it will be after I get back. ;)

[2017-07-06 18:50] rajivkukreja commented on #70
Thanks Jonas! Yes - I am using Hangfire.Mongo 0.4.1 (and Hangfire 1.6.14). Yes - completely cleaned out the DB of all hangfire collections.

More about my setup: 5 bg servers (for 5 queues) and 9 recurring jobs
<img width="474" alt="screen shot 2017-07-06 at 2 45 45 pm" src="https://user-images.githubusercontent.com/11480340/27927491-f18a190c-6259-11e7-816b-8c5ffb5e6cf4.png">

<img width="684" alt

[2017-07-10 07:59] rcollina-aruba opened #73 "Perf issues"
We've noticed Hangfire takes ~50% of total running time in the following scenario:

1000 jobs, 349ms/job average (job size is negligible).
349ms * 1000 (jobs) / 1000 (ms to s) / 60 (s to minutes) = 5.8 minutes. Total running time: 10 minutes.

Dashboard is somewhat responsive. Succeeded jobs still appear under Processing (I think this has been mentioned in another issue as well).

I'll download th

[2017-07-10 11:41] #73 closed

[2017-07-10 11:43] rcollina-aruba commented on #73
We've tried a barebones HF+mongodb setup and it was fine, so the bottleneck must be somewhere else. Closing this for now. Thank you!

[2017-07-10 15:40] testos944 opened #74 "Logs are returned in the wrong order when using Hangfire.Console with Hangfire.Mongo"
When using Hangfire.Console, the messages are returned in no particular order. See relevant discussion on Hangfire.Console : https://github.com/pieceofsummer/Hangfire.Console/issues/36

When using PerformContext.WriteLine, the logs are often in the wrong order.

![console-wrong-log-order](https://user-images.githubusercontent.com/22033728/28009374-8b866408-655b-11e7-8f2a-7d2545478c86.png)

Current

[2017-07-12 13:07] gottscj commented on #74
@testos944,

There is another bug in 0.4.0, where we dont write the full object set/list/hash/state to mongo. Its a bug in the C# driver. Please drop your jobs an update to 0.4.1.

I will make sure this is fixed in 0.4.2

Thanks

[2017-07-12 17:39] testos944 commented on #74
Thanks !

[2017-07-14 21:58] vegar opened #76 "'Drop collection'-upgrade strategy from 3.x to 4.x - isn't that a little hash...?"
I was looking into updating the nuget package from 3.x to 4.x when I saw the following breaking change notice:

It might be me missing something here, but how on earth can we manage this?
So at some point in time we'll deploy new code into production. We cannot just drop the entire job queue at that point?

So...

Can anyone explain to me what I might be missing, or share some experience on how to

[2017-07-22 18:32] #74 closed

[2017-07-22 18:43] gottscj commented on #76
@vegar,
Thanks for your input.
Please know, we do this in our spare time, and our resources are limited.
Im not sure how you use Hangfire. But I would recommend you to make sure you dont have any jobs in the job queue, and then drop it at that point. You can use the dashboard to check this.
If this doesnt work for you, you have a couple of options.
1. Dont upgrade just yet. Add an enhancement requ

[2017-07-24 08:03] vegar commented on #76
Of cause I understand the problem with sparetime and limited resources.

When it comes to how I use hangfire, I thought I used it like everybody else. In production, constantly queueing new tasks, both immediately and scheduled.

I'm not sure how we will go about the transition to the next version. If I come up with something clever, I'll let you know for sure. If anyone else has some ideas or exp

[2017-07-24 19:25] gottscj commented on #76
Ok.
Another thing is that even though @odinserj has done done an amazing job with he's documentation for Hangfire, the documentation for the API is not documented and has been created by reverse engineering he's SQL implementation.
Creating a migration for DTO's we dont fully understand or have insight to (hash, set, list, hash etc.) also have implications as we might do more harm than good with a

[2017-07-24 21:25] vegar commented on #76
Sounds challenging :-)
I'll see if there is anything I can do to help when I'm back from vacation.
Don't sweat because of me, though. I'm sure we'll find away one day. We have already started planning replacing a lot of our scheduled task with recurring tasks. That would make things easier.

________________________________
From: Jonas Gottschau <notifications@github.com>
Sent: Monday, July 24, 20

[2017-07-25 13:20] gottscj commented on #70
@rajivkukreja,

I created a PR (#78) which should fix your issue. Its hard to reproduce, but I have done it a couple of times.
 If all goes well we will release when this is merget.

Thanks,
Jonas

[2017-07-25 13:23] gottscj commented on #76
@vegar,

@MarLoe and I will look into a migration strategy. It wont make for the upcomming release (0.4.2), but it will be introduced in (0.4.3). We will target it so it should possible to upgrade from 0.3.2 to 0.4.3 using migrations.

Thanks,
Jonas

[2017-08-04 23:06] michaelsogos opened #82 "Performance Benchmark"
Dear all,

After reading official documentation, @odinserj describe how much is faster Redis compared to Sql Server.
Do you have some benchmark test to know how much is slower or faster MongoDB compared to Sql Server?

I ask this because in our experience with MongoDB there are some tips and tricks to gain performance querying MongoDB (from c# of course), without knowing it MongoDB can be slower t

[2017-08-05 12:50] michaelsogos opened #83 "Job cannot br re-enqueue"
Each time we try to re-enqueue the job from dashboard an MongoDriver exception will be encountered
[code]

Can you help with this issue?

[2017-08-07 05:25] MarLoe commented on #83
Can you please state version info for Hangfire, Hangfire.Mongo and Mongo.Driver.

I will then look into it and see if I can reproduce.

[2017-08-07 18:58] michaelsogos commented on #83
From NuGet:
Hangfire.Core 1.6.14
Hangfire.AspNetCore 1.6.14
Hangfire.Mongo 0.4.1
Microsoft.AspNetCore.All 2.0.0-preview2

Mongo driver is a your dependency, and seems to be MongoDB.Driver 2.3.0

While MongoDB Server is 3.4.6 CE

Is it enought? :)

[2017-08-10 08:48] lukpep opened #85 "Element 'StateHistory' not found Exception from GetRecurringJobs()"
`var recurringJobs = JobStorage.Current.GetConnection().GetRecurringJobs();`

And I get:

  HResult=0x80131577
  Message=Element 'StateHistory' not found.
  Source=Cannot evaluate the exception source
  StackTrace:
   at MongoDB.Bson.BsonDocument.get_Item(String name)
   at Hangfire.Mongo.MongoConnection.GetStateData(String jobId)
   at Hangfire.Storage.StorageConnectionExtensions.GetRecurringJobD

[2017-08-10 20:03] gottscj commented on #83
@MarLoe,

It seems like the job has been requeued before removed from the job queue? Im not sure how this can happen.
we could maybe do an upsert, to be on the safe side, but that would override the other job. IFetchedJob has a Requeue()

[2017-08-10 20:05] gottscj commented on #82
@michaelsogos,
 We dont have any benchmark tests. Sorry.
I would think you would have similar experience.
We are working on a ReactiveMongoStorage which will give better performance as we dont need to poll the job queue

[2017-08-10 20:31] MarLoe commented on #83
@michaelsogos, I have just been able to reproduce. I will look further into this asap.

[2017-08-11 00:33] michaelsogos commented on #83
There are some strange behaviour with our Hangfire implementation because from documentation seems that abnormally stopped jobs should retry as soon as possible, but we never see it happens, that's why we enter in dashboard and force to retry, but we didn't push button two or more times, just one :)

However we cannot figure out what is the issue with hangfire about automatic retry.
To Repro:
Impl

[2017-08-11 10:25] lukpep commented on #85
It has something to do with naming conventions for mongo. Document in databse has field "stateHistory" not StateHistory. When I change it to "StateHistory" and all capitalize first letter in subdocuments it works

[2017-08-11 10:37] lukpep commented on #85
I thing problem is in lines 211-213:
[code]

nameof returns StateHistory instead of stateHistory and later same in:

[code]

It seems that mongo uses camelCase.

[2017-08-11 10:55] lukpep commented on #85
It seems that mongo conventions are registered globally. In my app I use camelCase convention for field naming:

`new CamelCaseElementNameConvention()`

And that brokes usage of nameof function.
I disabled this convention for Hangfire.Mongo assemblies:

`ConventionRegistry.Register("GalCloudConventions", new MongoConvention(), x => !x.AssemblyQualifiedName.Contains("Hangfire.Mongo"));`

But it's j

[2017-08-11 11:39] MarLoe commented on #76
@vegar, we are working on a migration feature for Hangfire.Mongo. Please check out the migration branch if you want a sneak peek of this.

[2017-08-11 11:44] MarLoe commented on #70
I think this might be related to #83 - investigating further

[2017-08-11 11:53] MarLoe commented on #62
@ZOXEXIVO,

Thank you for your feedback. Since we have not heard back from you, we assume you have gone different ways.
I will close this issue now. If you still think it as an issue worth pursuing, feel free to open/create issue and provide some more feedback.

[2017-08-11 11:53] #62 closed

[2017-08-13 18:45] MarLoe commented on #83
This is fixed by #88. It will be a part of the next release.

[2017-08-13 18:45] #83 closed

[2017-08-16 19:59] gottscj commented on #70
@rajivkukreja,

I have been able to reproduce a couple of times. You are using the same db for all servers? Or do you have a db for each server?

Thanks!

[2017-08-16 20:05] rajivkukreja commented on #70
Same DB.

Note: If there was a way to constrain number of parallel requests at the queue level - I wouldn't even need to create multiple background servers (each one to handle 1 type of queue).

[2017-08-17 09:33] gottscj commented on #70
@rajivkukreja,

Would you say the unit test in
https://github.com/sergeyzwezdin/Hangfire.Mongo/blob/master/src/Hangfire.Mongo.Tests/MultipleServersFacts.cs
matches your setup (It has 20 workers and 20 servers though)?

Thanks

[2017-08-17 13:03] MarLoe commented on #76
Migration will be a part of the next release. Please stay tuned ;)

[2017-08-17 13:03] #76 closed

[2017-08-17 13:05] vegar commented on #76
Perfect! Nicely synchronized with the end of my vacation. :-)

________________________________
From: Martin Løbger <notifications@github.com>
Sent: Thursday, August 17, 2017 3:03:40 PM
To: sergeyzwezdin/Hangfire.Mongo
Cc: Vegar Vikan; Mention
Subject: Re: [sergeyzwezdin/Hangfire.Mongo] 'Drop collection'-upgrade strategy from 3.x to 4.x - isn't that a little hash...? (#76)

Migration will be a par

[2017-08-17 13:14] rajivkukreja commented on #70
Sure. That would do it.

The worker count of 20 doesn't really matter if it was 1, 2 or any other
number. The important thing is multiple bg servers.

Also - in my case - I'm just using the RecurringJob.AddOrUpdate static
method to set up these recurring jobs (instead of separate job managers
like you have) but I don't think that should make a difference.

e.g.
RecurringJob.AddOrUpdate("ResolveMis

[2017-08-21 19:54] rajivkukreja opened #93 "0.5.0: Command renameCollection failed: target namespace exists."
Greetings folks -

Just tried your new 0.5.0 release and getting the following error:

`Failed to configure mongo connection: Command renameCollection failed: target namespace exists.`

Here's my code for reference:
[code]

The error persists even after manually deleting all prior collections (`hangfire.*` only) in the hangfire db. Note that my hangfire db has 2 other collections (as seen below)

[2017-08-21 21:10] MarLoe commented on #93
The only renaming we do is to rename hangfire.statedata to hangfire.stateData. So I think that is where we should focus.
What is your setup. Could have had other instances running that might have conflicted?

[2017-08-21 22:56] rajivkukreja commented on #93
Aha! When I first upgraded and deployed, it was without the MigrationOptions specified. I suspect this somehow led to a situation where the db now had both `hangfire.statedata` and `hangfire.stateData`.

Subsequent attempts (even with MigrationOptions) then complained about not being able to rename (due to `hangfire.stateData` already existing).

All I need to do to get out of this situation was t

[2017-08-22 10:01] MarLoe commented on #93
@rajivkukreja, still weird how you got into that situation in the first place.
I have added an extra check in the code, to avoid the exception you experienced.

[2017-08-22 10:03] MarLoe commented on #70
@rajivkukreja, has this changed moving to 0.5.0?

[2017-08-23 14:33] rajivkukreja commented on #70
Yes - looks like 0.5.0 has resolved this issue as well. I'll close it out.

Thanks!

On Tue, Aug 22, 2017 at 6:03 AM, Martin Løbger <notifications@github.com>
wrote:

--
Rajiv
@rajivk <http://twitter.com/rajivk> | www.linkedin.com/in/rajivk

[2017-08-29 08:50] axle-h commented on #93
I have the same issue with the 0.5.0 release. Happens when we run a background server that runs a single background job that queues some recurring jobs then restart it. Before the restart we have these collections:

![image](https://user-images.githubusercontent.com/4509102/29811805-a0bd43ce-8c9c-11e7-8926-d4ddd3737b10.png)

Afterwards we have:

![image](https://user-images.githubusercontent.com/4

[2017-08-30 07:29] MarLoe commented on #93
@rajivkukreja, @axle-h,
Just released 0.5.1 that should fix this problem. Please let me know of the outcome.

[2017-08-31 07:25] MarLoe commented on #93
@rajivkukreja, seems like you reopened the wrong issue. I am reopening this instead: #70 and closing this one.

[2017-08-31 07:25] #93 closed

[2017-08-31 07:27] MarLoe commented on #70
Reopened by @rajivkukreja. Comments from #93:

Unfortunately still getting these key uniqueness related errors (after upgrading to 0.5.1):

[code]

[2017-08-31 07:30] MarLoe commented on #70
@rajivkukreja
Can you please try in details to describe your setup and what you are doing to get this error. Or even better a code snippet or zip'ed project that will expose the error.

Our time is limited. And we'd rather spent it fixing the bugs than hunting them down ;)

[2017-08-31 08:23] gottscj commented on #70
@rajivkukreja,

If you could patch this test to match your setup. It would be most helpful!
Thanks!
https://github.com/sergeyzwezdin/Hangfire.Mongo/blob/master/src/Hangfire.Mongo.Tests/MultipleServersFacts.cs

[2017-08-31 09:38] axle-h commented on #93
0.5.1 seems to have fixed this issue thanks

[2017-08-31 09:42] axle-h opened #95 "Failed to change state to a 'Succeeded' one"
Running a background job with the same name for the second time and we get: Failed to change state to a 'Succeeded' one due to an exception after 10 retry attempts

System.FormatException
Element 'key' does not match any field or property of class Hangfire.Mongo.Dto.ListDto.

System.FormatException: Element 'key' does not match any field or property of class Hangfire.Mongo.Dto.ListDto.
   at Mongo

[2017-08-31 09:48] axle-h opened #96 "Element 'data' does not match any field or property of class Hangfire.Mongo.Dto.ServerDto."
Version 0.5.1 with a fresh database that has run a single background job and has two scheduled jobs queued.
Navigating to /jobs/processing or /servers results in:

System.FormatException: Element 'data' does not match any field or property of class Hangfire.Mongo.Dto.ServerDto.

Example document from the hangfire.server collection:

   {
       "_id" : "my-server-name",
       "data" : "{\"WorkerC

[2017-08-31 09:51] axle-h commented on #95
Looks to be a casing issue. Example document from the stateData collection:

   {
       "_id" : ObjectId("59a7d795f67fb164782a42e9"),
       "_t" : [
              "KeyValueDto",
              "ExpiringKeyValueDto",
              "ListDto"
          ],
          "Key" : "succeeded",
          "Value" : "59a7d785f67fb164782a42d4",
          "ExpireAt" : null
      }

[2017-08-31 10:26] MarLoe commented on #11
@maleet, @runxc1
A "Tailable Cursor" solution is in the making. Expect it to be a part of the 0.6.0 release.
Check out the [signal](https://github.com/sergeyzwezdin/Hangfire.Mongo/tree/signal) branch - this where the work happens.

[2017-08-31 10:34] MarLoe commented on #95
Seems like the issue discussed in #51
Please read through and see if the proposed solution applies to you.

[2017-08-31 11:56] MarLoe commented on #96
@axle-h , how do you configure your hangfire and hangfire.mongo? Do you use any custom serializers?
Looks some how like the same problem you reported in #95

The dto's gets serialized with camelCase rather than the DefaultCase, leading to some deserialization problems.

[2017-08-31 12:21] axle-h commented on #96
Thanks. The solution in issue #95 fixed this as I was using CamelCaseElementNameConvention.
Is support for this not possible? If not is there a way to check this at startup and throw something readable?

[2017-08-31 12:27] MarLoe commented on #96
@axle-h , could you please copy/paste your setup that let to this issue? I am having a hard time reproducing this myself. And I would like to look into why this has such poor support.

Obviously, if you have been running with "mixed" naming conventions (e.g. first one and then changing it to another) then you are asking for trouble ;)

[2017-08-31 12:47] axle-h commented on #96
@MarLoe I think it's a mixed case scenario like you said. We have an API running in the same application that uses also mongo. This is being called in the type constructor of our repository base class:

    ConventionRegistry.Register("camelCase", new ConventionPack
                                         {
                                             new CamelCaseElementNameConvention()

[2017-08-31 12:49] axle-h commented on #95
Interesting, thanks for that. I've added that JSON configuration and also applied the fix in #96 and I think it's fixed.

[2017-08-31 12:49] #95 closed

[2017-08-31 13:04] axle-h commented on #96
This is essentially a duplicate of #85

[2017-08-31 13:04] #96 closed

[2017-08-31 15:40] rajivkukreja commented on #70
Totally understand. I'm going to see if I can use your test case to reproduce the problem.

[2017-09-01 12:54] MarLoe commented on #85
@lukpep, this casing issue seems to popup every now and then - causing great confusion.

So now we have decided to have Hangfire.Mongo take control. We will going forward ignore any naming convention and use our own hard coded names. that way we can avoid dealing with all sorts of naming conventions.

If interested, take a look at the [naming_convention](https://github.com/sergeyzwezdin/Hangfire.M

[2017-09-01 21:29] lukpep commented on #85
testing 0.5.2 and seems like it's working. Thanks :)

[2017-09-01 21:29] #85 closed

[2017-09-02 11:20] MarLoe commented on #61
@RodrigoLimasss, I have not been able to reproduce this. But I do have some good news. We are moving away from using **EventWaitHandle** - which is the root cause of the exception you are experiencing (as I read your issue report).

Look forward to the 0.6.0 release coming soon. You can get a sneak peak on the [signal](https://github.com/sergeyzwezdin/Hangfire.Mongo/tree/signal) branch.

[2017-09-12 06:39] VAllens opened #102 "The 'cursor' option is required, except for aggregate with the explain argument."
`throw MongoDB.Driver.MongoCommandException
  HResult=0x80131500
  Message=Command aggregate failed: The 'cursor' option is required, except for aggregate with the explain argument.
  StackTrace:
   at MongoDB.Driver.Core.WireProtocol.CommandWireProtocol`1.ProcessReply(ConnectionId connectionId, ReplyMessage`1 reply)
   at MongoDB.Driver.Core.WireProtocol.CommandWireProtocol`1.Execute(IConnection

[2017-09-12 06:47] MarLoe commented on #102
@VAllens, thank you for your detailed report and preliminary research. I'll take a look at this, and eventually bring it into the next release.
The next release is 0.6.0 and it is coming soon :)

[2017-09-12 06:53] VAllens commented on #102
Oh, thanks.
Maybe when, can you tell me?

[2017-09-12 07:05] MarLoe commented on #102
@VAllens , We are aiming for end of this week :)

[2017-09-12 07:07] MarLoe commented on #102
@VAllens, I just tried with batchSize=0 as you suggested. That has some weird side effects on my machine. It is not really working.
I tried changing it to 1 - and everything works again. Could you try that to see if that fixes you problem or just exposes it again?

[2017-09-12 07:09] MarLoe commented on #102
@VAllens, seems batchSize=0 has a special meaning:
https://docs.mongodb.com/manual/reference/method/db.collection.aggregate/#example-aggregate-method-initial-batch-size

[2017-09-12 09:06] VAllens commented on #102
You can use it as a parameter with a default value, let the caller decide whether to change its default value.
In fact, I do not understand the meaning of this parameter, because I do not use this parameter.
Thanks you.

[2017-09-12 09:14] VAllens commented on #102
I passed in `batchsize = 0` parameter, just to eliminate the exception.
But I don't know how set the `batchsize` parameter value, just by the default value of the MongoDB official document.

[2017-09-12 09:19] MarLoe commented on #102
@VAllens, just change the 0 (zero) in the code you inserted to 1:
`
{
                    "cursor", new Dictionary<string, object>
                    {
                        { "batchSize", 1 }
                    }
                }
`
Please see if that solves your issue.

[2017-09-12 09:23] VAllens commented on #102
I've tested both 0 and 1, and I don't see any problems on the surface

[2017-09-12 11:18] MarLoe commented on #102
After reading the documentation carefully, I found that "cursor" is no longer optional as of MongoDB 3.4

[MongoDB 3.4 Aggregate](https://docs.mongodb.com/manual/reference/command/aggregate/)
[MongoDB 3.2 Aggregate](https://docs.mongodb.com/v3.2/reference/method/db.collection.aggregate/)

The documentation states that an empty "cursor" element is accepted.

@VAllens, could you please try this out

[2017-09-12 23:13] MarLoe commented on #102
There is a PR #103 that should solve this problem. Please try it out.

[2017-09-13 00:11] jwu-au opened #104 "Slow query in hangfire.job"
Hi,

I'm running hangfire in production using mLab which reports slow query in hangfire.job collection. Just wondering we can do anything about it? please see below:
[code]
![image](https://user-images.githubusercontent.com/833961/30353812-c9c204b4-986b-11e7-890e-d1b04300bb2d.png)

Thank you for helping.

[2017-09-13 01:19] VAllens commented on #102
Thank you. I saw these two link documents yesterday.
For this PR [#103](https://github.com/sergeyzwezdin/Hangfire.Mongo/pull/103), I'm test haven't detected any problems. :)

[2017-09-13 09:27] mathieukempe commented on #104
Also the number of documents in the collection is around 10000, so not massive.
We use mongodb 3.0

[2017-09-20 11:58] RodrigoLimasss commented on #61
Hi @MarLoe, I'm waiting for the next version 0.6.0.
Thanks

[2017-09-21 09:36] MarLoe commented on #61
@RodrigoLimasss, I am sorry to say that 0.6.0 has been delayed :(
After testing my new implementation that was targeted for 0.6.0, I found a couple of issues and some stability that need to be addressed before I will release.
I am releasing 0.5.3 today, that has some other improvements. Please try it out.

[2017-09-21 10:10] MarLoe commented on #102
The fix has been included in the [0.5.3](https://github.com/sergeyzwezdin/Hangfire.Mongo/releases/tag/v0.5.3) release.
It should be available on nuget.org shortly.

[2017-09-21 10:10] #102 closed

[2017-09-21 10:14] MarLoe commented on #104
@jwu-au & @mathieukempe, thankyou for your feedback. We will look into this and see if we can improve.
Please remember that we love pull requests. So if you feel that you can optimizing our queries or in any other way improve Hangfire.Monge, we would appreciate it.

[2017-09-21 11:12] AlexanderNaiden opened #106 "Job State is wrong in mongodb"
After connected to mongodb from asp.net core application, I see wrong job state in hangfire dashboard.   Why job state is Enqueued, if it was done? But if I use as storage - sql server then state is Succeeded and it is correct. See my screen by link https://yadi.sk/i/VYrWndJZ3N7DwW.

[2017-09-21 12:44] mathieukempe commented on #104
Sure we will look how we can improve as well

[2017-10-05 04:46] mathieukempe commented on #104
Considering there is an index on StateName
Looking at the query, using
[code]

Might be better than using $ne : null

[2017-10-05 13:28] janmagnet opened #110 "Element 'Reason' not found Exception from GetRecurringJobs()"
Similar to issue #85 where the `CamelCaseElementNameConvention` caused problems, there is an issue with registering `new IgnoreIfNullConvention(true)` in the MongoDB convention registry.

After any recurring job has executed once, this call:

`var recurringJobs = JobStorage.Current.GetConnection().GetRecurringJobs();`

Throws the following exception:

And the dashboard fails when accessing the "Re

[2017-10-06 04:05] jwu-au opened #112 "Exception when starting up upgraded from 0.5.2 to 0.5.4"
Hi,

Please see below detail exception message after upgrading to 0.5.4.
I have to drop the db to make it work.

[code]

[2017-10-12 08:39] MarLoe commented on #104
Will be a part of release 0.5.5

[2017-10-12 08:39] #104 closed

[2017-10-12 08:41] MarLoe commented on #104
Btw, thank you for the PR 😃

[2017-10-12 08:44] MarLoe commented on #110
@janmagnet, thank you for your feedback. I'll look into this and your PR. As we always say: We love PRs. I'll try to get this into the next release 0.5.5

[2017-10-12 13:35] MarLoe commented on #110
Ready for 0.5.5

[2017-10-12 13:35] #110 closed

[2017-10-12 13:43] MarLoe commented on #112
@jwu-au, thank you for your report.
What version of the MongoDB are you running?

Your exception details point in the direction of 'bypassDocumentValidation' which is used when creating a backup before migration.

Reading the [documentation](https://docs.mongodb.com/manual/release-notes/3.2/#rel-notes-document-validation) on this, it states that is was introduced in MongoDB v. 3.2

If you are runn

[2017-10-12 13:45] MarLoe commented on #106
@AlexanderNaiden, thanks for your feedback - and sorry for the late reply.

I'll try to find the time to look into this. In the meantime: We love PR :)

[2017-10-12 13:51] MarLoe commented on #82
@michaelsogos,
As @gottscj  says, we don't have any benchmarks. :(
If you could help us create some, that would be awesome.
That being said, we are preparing release 0.5.5 that has PR #109 that should optimize performance.

In release 0.6.0 (which has been on it way for quite a while now), we will change the polling strategy with a trailing cursor strategy that allows us for much quicker response

[2017-10-12 13:51] #82 closed

[2017-10-12 21:43] michaelsogos commented on #82
Dear @MarLoe,

We moved on redis because with mongo we had a lot of issue with simple examples, like we cannot retry a job because some "document duplication" issue. For these and other reasons, of course after many test in many environment, we found redis fast, free of bug, easy to maintain and easy to scale.

Actually we stopped using mongodb and we didn't made load and stress test, so i'm very

[2017-10-13 08:04] MarLoe commented on #112
Please see PR #114.

@jwu-au, if you are able to verify this fix, it would be greatly appreciated.

[2017-10-14 16:14] MarLoe commented on #112
Ready for release 0.5.5

[2017-10-14 16:14] #112 closed

[2017-10-24 13:27] yudevit opened #116 "Hangfire dashboard logs sorted in ascending order"
I'm using the latest version of Hangifre (1.6.17) and Hangfire.Mongo (0.5.5) and I'm having troubles sorting the dashboard's failed jobs logs.

Currently they're sorted in ascending order where the oldest logs/failed jobs appear in the first page of results. Obviously I'd like to have them sorted in descending order so that the recent ones appear in the first page.

I was wondering whether it's po

[2017-10-30 14:04] cemusta commented on #116
this issue also appears in the older versions like (0.30)...

[2017-10-30 14:23] gottscj commented on #116
@yudevit, @cemusta

Sorry for the delayed reply.
Hangfire.Mongo implements Hangfire API's. Hangfire does have a Monitoring API, but it does not support "ordering"
https://github.com/HangfireIO/Hangfire/blob/master/src/Hangfire.Core/Storage/IMonitoringApi.cs

If you can get @odinserj to update the API, we will support it shortly hereafter. :)

[2017-10-30 14:27] cemusta commented on #116
@gottscj,

Thanks for info,

default ordering is wrong can't you just sort the logs newest first (descending) by default?

Custom sort ordering is not necessary but default ordering should be Date ordered by descending

[2017-10-30 16:30] gottscj commented on #116
@cemusta,

You are right! Sorry. I'll make sure it's fixed for next release.

[2017-10-31 09:31] yudevit commented on #116
@cemusta

That's exactly the issue, simply sorting logs by the date will do.

@gottscj

From what I can see the current sorting is done for each page rather than on a whole logs data set. I end up having logs from **seven** days ago at the bottom of the third then at the bottom of the fourth page again - it's pretty mixed up. It'd be great if you could sort all the logs before applying the paginat

[2017-11-14 19:49] gottscj commented on #116
Guys,

Sorry for the late reply, #118 should solve this issue.

Thanks

[2017-11-14 20:10] gottscj commented on #106
@AlexanderNaiden,

Sorry for the late reply. This should be fixed #119

[2017-11-20 00:07] MarLoe commented on #116
Will be a part of the 0.5.6 release

[2017-11-20 00:07] #116 closed

[2017-11-20 00:08] MarLoe commented on #106
Will be a part of the 0.5.6 release

[2017-11-20 00:08] #106 closed

[2017-12-15 11:07] mawl opened #121 "Hangfire Dashboard History Graph shows incorrect data when using Hangfire.Mongo"
Hi,

After switching The history graph shows only 1 job a day, but we have about 300 succeeded jobs a week.

![image](https://user-images.githubusercontent.com/5493374/34039614-736f0738-e190-11e7-98d7-6ec9a17793fd.png)
![image](https://user-images.githubusercontent.com/5493374/34039625-82f0561c-e190-11e7-8fdd-4e6a6e545c6e.png)

Any ideas?

Regards
Marco

[2017-12-22 10:58] vegar opened #122 "Migration failed 06\01_JobMigration"
I'm trying to upgrade to latest version. Was stuck at the <0.4 release, but now that migrations are in its place, I though I should give it a try.

I've gotten the latest libraries:
[code]
And changed my configuration to migrate data:

[code]

At startup I get an exception

[code]

By stepping through, I've identified the following line being the cause:
https://github.com/sergeyzwezdin/Hangfire.Mo

[2018-01-02 22:34] MarLoe commented on #122
@vegar thank you for your thorough report.
I'll take a look at this and see why we expect a string when in fact you got a document.

[2018-01-02 22:59] MarLoe commented on #122
@vegar , I am a bit puzzled here. Normally I would expect the "Data" field to be a raw JSON string at this point.

The easy fix would be to check the type of the "Data" field before doing an ".AsString" on it.
However I would like to try and understand why we ended up in this situation.

Is there any way you could export your mongo hangfire database and make it available to me?

[2018-01-03 07:21] vegar commented on #122
Doesn't look like the hangfire tables contains anything worth hiding, so here you go:

[hangfire.mongo.dump.zip](https://github.com/sergeyzwezdin/Hangfire.Mongo/files/1599633/hangfire.mongo.dump.zip)

It's a zipped up `mongodump` and should be restored with `mongorestore` after unzipping to a folder.

[2018-01-03 07:23] vegar commented on #122
And from what I can see, it is for some documents:
![image](https://user-images.githubusercontent.com/764517/34511953-5358dcb6-f05f-11e7-8cc0-6257f7a3a2fe.png)

[2018-01-03 20:47] MarLoe commented on #122
@vegar, I have downloaded and imported you dump successfully - you can remove the link if you fell like.

Has this database been through any migrations before it came to this state?

I am asking because I am clueless why some of the "Data" fields has changed from raw JSON strings to actual objects.

Long story short, I am using you dump to incorporate a workaround so the migration step should work

[2018-01-04 08:09] vegar commented on #122
Not as far as I know.

I use Studio 3T, and their Schema analytics reports the following on our production database:

[code]
By closer inspection, all documents containing string type, is created before 2016-07-01. All documents after that date contains objects.

[2018-01-07 21:10] MarLoe commented on #122
@vegar, I give up understanding this. I have added improved migration to take this case into account. It seem to work. It sits on the 0.5.8 branch. You can try it out, and give feedback if tit does the trick.

[2018-01-08 16:11] vegar commented on #122
As far as I can see, the migration worked this time.
The schema collection contains a document with the `_id` 11.

The backed up collections are not deleted after migration, but I guess that's by design?

[2018-01-08 19:39] MarLoe commented on #122
@vegar, super - good to hear.

The left behind backed-up collections is by design. Should it turn out that moving on to the next version reveals issues at a later time, you are still able to (manually) restore to previous version.

Perhaps a feature request is a scheduled job that cleans out the backup collections after 30 days ;)

[2018-01-08 19:46] MarLoe commented on #121
@mawl, sorry for the late reply.

Can you tell which versions of Hangfire and Hangfire.Mongo you are running?
What kind of jobs are you running (Enqueued, Scheduled, Recurring - or a mix)?

[2018-01-10 07:57] mawl commented on #121
Hi @MarLoe,

It's
[code]
We're only using Enqueued Jobs.

[2018-01-26 14:34] nouira opened #124 "Error on first execution"
I'm trying to test Hangfire Mongo.

I have an exception when I launch my test application the first time.
[code]

Here the error stacktrace:

[code]

The error appear to be in Hangfire.Mongo.Migration.Steps.Version07.StateDataRename
Googling the error suggest to modify the Bson default for mongo.
[code]
Can this be done by configuration ?

[2018-01-29 07:25] gottscj commented on #124
@nouira ,

Thanks for reporting this. Could you elaborate a little bit on your setup? This is first run on you system? So you dont have any hangfire collections in your db?

[2018-01-29 14:29] nouira commented on #124
Yes, it's my first run.
I didn't have any collections.

I'm using MongoDB 3.6.2 Community and I used the default installation. After the exeception, this what I have on the db :
 hangfire.jobQueue (Empty)
 hangfire.locks
     {"_id":"5a6b434ac491c1cb2fa685d2","Resource":"Migrate","ExpireAt":"2018-01-26T15:04:08.052Z"}
 hangfire.schema
    {"_id":6}
 hangfire.statedata (Empty)

[2018-02-02 09:59] gottscj commented on #124
@nouira,

Sorry for the late reply on this issue.
Its an issue with the newest version of the database.
We currently dont support MongoDB 3.6 as the new of the driver is just released now.

I recommend you shift to MongoDB 3.4 for now, and we will update the driver to v2.5 and make sure we support 3.6

Thanks

[2018-02-08 22:39] MarLoe commented on #122
Fixed in 0.5.8

[2018-02-08 22:39] #122 closed

[2018-02-08 22:42] MarLoe commented on #124
Fixed in 0.5.8

[2018-02-08 22:42] #124 closed

[2018-02-08 22:51] MarLoe commented on #121
Despite a lot of detours, I am still looking into this issue. Hoping that a fix will make it in time for 0.5.8

[2018-02-19 20:46] gottscj commented on #121
@mawl,

Just looked into this. It seems to be a bug in the dashboard. My weekly graph looks like this, but the Statistics object we return to Hangfire looks like this (in my test):
{"Servers":2,"Recurring":0,"Enqueued":1,"Queues":1,"Scheduled":0,"Processing":0,"Succeeded":1002,"Failed":0,"Deleted":0}
{"Servers":2,"Recurring":0,"Enqueued":1,"Queues":1,"Scheduled":0,"Processing":0,"Succeeded":1002,"

[2018-02-19 20:49] gottscj commented on #121
I will clone hangfire and try to identify the bug...

[2018-02-19 22:01] gottscj commented on #121
nope.. its our bug, its the AggregatedCounterDto collection which is the troublemaker. @MarLoe we should consider removing this and only use the CounterDto

[2018-02-19 22:35] gottscj commented on #121
@mawl,

Should be fixed in #132

[2018-03-01 15:38] mawl commented on #121
@gottscj,

Thanks for that.

I have tested it with 0.5.9, but the issue is still the same. I have created 5 Jobs. Daily history graph first says 4 jobs but after the 5th Job and around 5 minutes, it reduces it to one.

I use a mongodb/3.4.10-windowsservercore docker Image.

[2018-03-20 08:12] jhadwen opened #134 "Distributed lock implementation is not atomic"
Hi,

There is a missing unique index in the lock collection on the field "Resource" (and only this field), which means that the two or more instances of a distributed lock can be created (in testing this happens frequently, especially with more than one Hangfire node).

https://docs.mongodb.com/manual/reference/method/db.collection.update/#use-unique-indexes

To add, from experience the behaviour

[2018-03-20 10:48] MarLoe commented on #134
Hi @jhadwen,

Thanks for your input.

To address you the second part of your question first:
Indexes are (as you point out) created during migration. When initializing a new DB we actually run a full migration. By doing this, we do not have to maintain "two paths" for initializing the DB.
So in order to create a new index, a migration step is needed and the schema version must be increased.

In re

[2018-03-20 11:12] jhadwen commented on #134
Thanks Martin,

On the index creation for a new database, I think there might be a problem then because I've never witnessed an index being created on any of the collections (using 0.5.9). Is there something specific that we need to put into MongoStorageOptions?

James

[2018-03-31 15:53] gottscj commented on #121
@mawl,

hmm sounds like I need to look into this some more. sorry for the inconvience.

[2018-04-02 08:31] gottscj commented on #121
@mawl,

A stupid mistake on my part. Addressed in #135

[2018-05-22 06:51] mawl commented on #121
Hi @gottscj,

When will a new version be released that encloses the fix?

[2018-05-24 18:57] gottscj commented on #121
@mawl,

We been very busy lately. Expect a new release the coming weekend.

Thanks!

[2018-05-27 20:52] gottscj commented on #121
@mawl,
We released 0.5.10 which contains fix for your issue. We are also upgrading to latest mongo C# driver and using the latest Hangfire.

Please let us know if it works as expected.

Thanks

[2018-07-17 09:07] EngelenH commented on #70
I was having the same issue today in one of our environments. It turned out that for 1 job there were 2 entries in the stateData collection were recording the NextExecution field. I.e. 2 different documents like this one :

{ "_id" : { "$oid" : "xxxxxxxxxxx" }, "Field" : "NextExecution", "Key" : "recurring-job:JobName", "_t" : [ "KeyValueDto", "ExpiringKeyValueDto", "HashDto" ], "ExpireAt" : null,

[2018-07-17 15:06] EngelenH commented on #30
Better to use the full approach maybe with MongoClientSettings, like for example :

var credential = MongoCredential.CreateCredential(
                _config.MongoConnection.MongoCredentials.AuthDb,
                _config.MongoConnection.MongoCredentials.User,
                _config.MongoConnection.MongoCredentials.Password);

var mongoClientSettings = new MongoClientSettings
                {

[2018-07-19 09:11] gottscj commented on #70
@EngelenH,

Sorry for your troubles.
We have some challenges with concurrency for the state data in advanced environments like you describe. Hangfire expects transactions which mongodb didnt support until now.
We were working on introducing two phase commits, but the mongo team introduced transactions in mongodb v4.0.
In our next release we will upgrade to mongodb v4.0 and support transactions, wh

[2018-07-19 09:19] gottscj commented on #70
@EngelenH,
mongodb only supports transactions for replica sets, so we most likely will keep working on two phase commits and other options to support single db environments. We would like to support transactions for environments with replicate sets also though, could be part of configuration

[2018-08-20 09:02] EngelenH commented on #70
Wonderful, as long as I know a fix is in the pipeline that is good. It's easy to fix but as it always does this happens at the most in-opportune moments (i.e. like last week when I was on holiday).

[2018-08-23 18:26] shsouza opened #139 "DeadLock on concurrent envorinment"
I'm having this issue on production environment with multiple sites hosted in a IIS

Seens that the EventWaitHandle is having trouble to set when multiple threads try to create a new MongoStorage.

[code]

[2018-08-31 08:11] gottscj commented on #139
@shsouza,

Sorry for the late reply. We're a bit busy at the moment.

We will take a look asap.

thanks

[2018-08-31 08:16] gottscj commented on #70
@EngelenH,

that sounds like typical bug-behavior! ;-)

We still havent gotten the bug. :-/, but we might do a dirty workaround untill we introduce a better concurrency model, which will need migrations.

Thanks,
Jonas

[2018-09-10 21:29] gottscj commented on #139
@shsouza,

Please let us know of 0.5.11 solved your issue.

Thanks!

[2018-09-10 21:30] #121 closed

[2018-09-10 21:31] gottscj commented on #70
@EngelenH,

please let us know if v0.5.11 solved your problem.

Thanks!

[2018-09-10 21:33] gottscj commented on #61
@RodrigoLimasss,

Is this still an issue? Else I will close this issue.

Thanks!

[2018-09-10 21:35] gottscj commented on #54
@adsamcik,

 #121 should fix the dashboard issues. Did you have had any chance to test this with newer releases?

Thanks!

[2018-09-10 21:37] gottscj commented on #32
We cannot change this. You need to submit a ticket in the HangFire github page.

Closing this.

[2018-09-10 21:37] #32 closed

[2018-09-10 21:40] gottscj commented on #30
I think we will [Obsolete] and remove the overloaded ctor which takes a connectionString directly

[2018-09-10 21:43] gottscj commented on #12
@gofix,

Can I close this? Did you get a chance to try some of the new releases? @MarLoe is currently contributing to this repo, so the bug should be solved.

Thanks!

[2018-09-11 05:49] gofix commented on #12
Issue may be closed, using newer version now

[2018-09-11 10:43] EngelenH commented on #70
I will but alas this will take some time as our deployment schedule will delay the rollout of the code with v.0.5.11 to our UAT environment for some time. Once there it will also take some time to see if it was fixed as it has always be an intermittent issue.

Alas I have no replicaset servers set up that I can do earlier testing with at this time (I am examining if I can get our INT environment,

[2018-09-11 21:12] gottscj commented on #70
@EngelenH,
I'll keep this ticket open until you have had a chance to confirm

[2018-09-11 21:13] gottscj commented on #12
thanks. closing...

[2018-09-11 21:13] #12 closed

[2018-09-12 15:37] shsouza commented on #139
@gottscj

After the update no more happened

Thanks

[2018-09-12 15:37] #139 closed

[2018-09-12 15:46] gottscj commented on #139
Awesome, thank you for the feedback!

[2018-09-21 13:42] kkorus opened #146 "Cannot resolve symbol `UseMongoStorage`"
I'm using ASP.NET WebApi 2 and in Startup I want to configure Hangfire with MongoDB, but on this line:

` GlobalConfiguration.Configuration.UseMongoStorage`

I'm having error `Cannot resolve symbol UseMongoStorage`

Hangfire.Mongo version 0.5.11

[2018-09-21 16:47] gottscj commented on #146
@kkorus,

Hangfire's GlobalConfiguration is named the same as System.Web.Http.GlobalConfiguration class.
Please verify you are in fact using _Hangfire.GlobalConfiguration_ and not _System.Web.Http.GlobalConfiguration_

Thanks,
Jonas

[2018-09-24 14:52] kkorus commented on #146
@gottscj Yep, you were right, I was using wrong `GlobalConfiguration`

[2018-09-25 09:12] kkorus opened #148 "How to disable deletion of expired jobs?"
If I set
[code]
will this disable deletion of expired jobs?

[2018-09-25 09:54] #146 closed

[2018-09-25 10:27] gottscj commented on #148
We use a WaitHandle when checking for expired jobs. You can use settings below to wait indefinetly.

This will however also stop deletion of associated job data.

`var migrationOptions = new MongoStorageOptions
            {
                JobExpirationCheckInterval = TimeSpan.FromMilliseconds(-1)
            };`

[2018-09-25 15:54] kkorus commented on #148
Thanks @gottscj , if I would like to deleted job related data that by job id, which collection I should consider?

[2018-09-26 11:00] kkorus commented on #148
I think I have found a solution, which I want to test:

[code]

[2018-09-26 11:09] gottscj commented on #148
@kkorus ,

glad to hear it. Let us know if it works out. :)

[2018-09-29 10:55] adsamcik commented on #54
@gottscj Sorry I had to change database because of platform compatibility issues and I don't have any project where I could test it properly at the moment.

[2018-10-22 09:50] EngelenH commented on #70
Apologies for the late reply but GitHub has not let me sign in successfully for over a month now. It kept throwing some error. Pretty sure it was something on my side but the error was pretty much 'something strange happened, good luck finding out what without any help from us on what the error even was'

Anyways the workaround is moderately successful .. It fixes the error in my own GUI that uses

[2018-10-26 13:53] Djiu13 opened #151 "Exception "$slice value must be an integer""
Hi,

I am using the nuget package v0.5.11 to work with an Azure MongoDb (Aggregation is enabled).
My project is using .Net Core 2.1.

Code compiles ok and the application starts. hangfire dashboard is loaded without issue but I get the following excpetion when I click on "Recurring Jobs".

[code]

I don't know if I am doing something wrong here but I had a look at the code an I located the issue i

[2018-10-29 09:47] Djiu13 commented on #151
@gottscj,

I am not sure I can find the version, I just know that it is the Azure Cosmos DB.
I will install a local MongoDb and see if I can replicate this. Maybe this is only an issue with the Azure Cosmos DB. I will let you know.

Thanks

[2018-10-29 10:08] Djiu13 commented on #151
I don't have the problem with local instance of MongoDb.
C

[2018-10-29 10:08] #151 closed

[2018-10-30 13:09] gottscj commented on #151
@Djiu13,

Glad to hear it!
We changed it to a simpler query, which it seems, Cosmos DB supoprts

[2018-10-31 15:55] provanguard commented on #61
I have observed this new exception, apart from some other previously seen, that started appearing after the last 0.5.12 release:

[code]

[2018-11-05 20:08] gottscj commented on #61
@provanguard,

Looking at the exception it looks like the connection to the DB is lost.

"Unable to read data from the transport connection: Connection timed out. ---> System.Net.Sockets.SocketException: Connection timed out"

Can you describe steps to reproduce this behavior?

Thanks!

[2018-11-05 20:17] provanguard commented on #61
@gottscj I wish I knew why this and other problems happen. They all seem to be caused by connection timeout. I don't know the reason for the timeout. I have 4 background jobs running at different intervals, from 2 to 60 minutes. I would get between 1 and 5 of these errors per day. The application is running in Azure and the database is mongo db running on AWS.

[2018-11-06 11:43] provanguard opened #153 "Growing number of enqueued jobs that don't get processed for some reason"
After updating to release 0.5.12 with the new schema etc., I have noticed that on the environment running the updated version, there is a steadily growing number of enqueued jobs that do not get processed for some reason. At the moment there is 32 of them. I found all of them in the jobGraph collection and all of them have only one state in the StateHistory array, namely state 0 Enqueued. I cannot

[2018-11-06 12:08] provanguard commented on #61
@gottscj How do I configure the mongo storage options to define a shorter timeout? It appears that for some strange reason connection to storage has issues on our system. Current timeout appears to be at 20 minutes, during which no jobs would be executed and it would finish with the exception I included above, after which jobs would resume as normal. I don't believe that there were actually connec

[2018-11-06 12:45] gottscj commented on #61
@provanguard,

You should be able to configure the mongo client exactly as you wish using the overloaded bootstrapper extension overload, which accepts a "MongoClientSettings" object. Please refer to the official mongo driver documentation: https://docs.mongodb.com/ecosystem/drivers/csharp/

Im not sure why the timeout is happening, I would recommend you to try to reproduce this in a local setup

[2018-11-06 12:58] gottscj commented on #153
@provanguard,

I cannot reproduce this in our sample environment. Please try to add the build in "ColouredConsoleLogProvider" to your hangfire configuration to log potential errors.
http://docs.hangfire.io/en/latest/configuration/configuring-logging.html

Im not sure how you have setup your queues, but it could look like you
It could look like there is not a hangfire background server configured t

[2018-11-06 13:05] provanguard commented on #153
There are thousands of jobs executions processed. All settings are as before version 0.5.12. But there is this small percentage of jobs that are queued but not processed.

[2018-11-06 13:06] provanguard commented on #61
I found the the way to configure the timeout (I assume). I will observe the results.

[code]

[2018-11-06 13:12] provanguard commented on #153
Could this be related to the timeout errors I mentioned in another issue?

[2018-11-06 19:11] gottscj commented on #153
@provanguard,

Perhaps,
Try to enable logging and run it locally and see if you can reproduce. I will be happy to help, but I need more information

[2018-11-06 19:14] gottscj commented on #61
@provanguard,
That is a Hangfire configuration and not a mongo configuration, but Hangfire might log something releveant.

[2018-11-07 08:40] provanguard commented on #61
Here is one more of the exceptions I am seeing, not only on the latest version:

[code]

It is somewhat hard to pinpoint where the issue originates from.

[2018-11-07 09:20] provanguard commented on #153
As for the logging, I have an aspnet core web api application with serilog and microsoft DI. Logging is configured so that all methods, including those invoked as background jobs by hangfire can log their operations. But the hangfire itself does not produce any logs.

I have also found this issue about logging, still unresolved:
https://github.com/HangfireIO/Hangfire/issues/1089

Can you clarify w

[2018-11-12 10:33] EngelenH commented on #70
Thanks.

I have been noticing 1 other strange effect. And I am not sure if it is related to this change. Before I open a new issue allow me to share a strange intermittent problem I have been having since around the time 0.5.11 is in my code.

My system uses queues in hangfire, 2 types, 1 fixed called 'master' which acts as a sort of loadbalancer. It is serviced on all app servers with hangfire in

[2018-11-15 11:40] Vitala opened #154 "Using Hangfire.Mongo on Cosmos DB with Mongo API enabled"
Is it supposed to work?

I'm currently trying

            var migrationOptions = new MongoMigrationOptions
            {
                Strategy = MongoMigrationStrategy.Drop,
                BackupStrategy = MongoBackupStrategy.None
            };
            var storageOptions = new MongoStorageOptions
            {
                MigrationOptions = migrationOptions
            };

[2018-11-18 23:46] tornordqvist opened #155 "CamelCase"
I get following error when I add the camelcase convension:
[code]

[code]

I can see in mongodb that it adds the field expireAt instead of ExpireAt

Running .Net core 2.1 web api
<PackageReference Include="HangFire" Version="1.6.21" />
<PackageReference Include="Hangfire.Mongo" Version="0.5.12" />
<PackageReference Include="Microsoft.AspNetCore.App" />
<PackageReference Include="Microsoft.AspNetCo

[2018-11-20 07:14] gottscj commented on #153
@provanguard,

Sorry for the late reply, I have been traveling.
please follow the provided link for how to enable hangfire logging.
http://docs.hangfire.io/en/latest/configuration/configuring-logging.html

[2018-11-20 07:20] gottscj commented on #155
@tornordqvist,

We did try to register Hangfire.Mongo entities with our convention to avoid this problem. We might have broken it or you found a way through. :)

Let me try to reproduce.

[2018-11-20 07:38] gottscj commented on #154
@Vitala,

Just looking through the code now, I cannot see any apparent path where this can happen. I haven't tried to reproduce it though. Can you confirm this is a problem and maybe provide the details of the exception thrown?

[2018-11-20 07:41] gottscj commented on #61
@provanguard,

from the exception it seems the underlying socket has been disposed by the MongoDb driver. Im guessing they would only do that if the network stream is closed.

[2018-11-20 07:46] gottscj commented on #155
@tornordqvist,

We (me) broke it. We'll provide a fix in 0.5.13.

[2018-11-20 11:06] tornordqvist commented on #155
Thanks!

[2018-11-20 11:21] gottscj commented on #155
@tornordqvist,

I'll just keep this open until I have added a fix + tests. :)

[2018-11-20 11:53] Vitala commented on #154
Here is the exception I'm getting

[code]

Weirdest part here in my opinion is this:   Command={{ "renameCollection" : "jobs.hangfire.statedata", "to" : "jobs.hangfire.stateData" }}

[2018-11-22 11:41] provanguard commented on #61
@gottscj The errors I pasted above got solved after configuring more properties on the mongo repository client and the C# driver. Thanks for help!

[2018-11-22 11:47] provanguard commented on #153
@gottscj After deleting the collections for hangfire mongo, and restarting the app to create them again, the issue of some jobs not being processed has disappeared. This could have also been related to additional settings added to the mongo client to fix occasional timeouts.

[2018-11-22 11:47] #153 closed

[2018-11-22 14:47] langsweirdt commented on #154
I'm running into this issue as well.

However, looking at the code it is quite clear why this happens:

- Selecting MongoMigrationStrategy.None, you end up at this place: https://github.com/sergeyzwezdin/Hangfire.Mongo/blob/0.5.12/src/Hangfire.Mongo/Migration/Strategies/MongoMigrationStrategyNone.cs#L19 which throws an exception and thus not helpful..

- Selecting any other MigrationStrategy, you

[2018-11-23 08:04] gottscj commented on #154
@langsweirdt,

thank you for the workaround!

My initial appraoch will be to not use the command "rename", but to do it manually so users with CosmosDB can actually do migrations and backup their data.

[2018-11-23 08:31] gottscj commented on #70
@EngelenH,

sorry for the late reply.

our 0.5.11 release should fix:
- duplicate key exception in advanced setups (#70)
- DeadLock on concurrent envorinment (#139)
- Update to latest Hangfire
- Update to latest MongoDB

we updated to hangfire 1.6.20
we will update to 1.6.21 in 0.5.13

could be related to hangfire updates
im not sure what we could do to break the states not being elected. But I ca

[2018-11-23 08:32] gottscj commented on #61
@provanguard,

glad to hear it! :)

[2018-11-23 08:32] #61 closed

[2018-11-26 19:29] dmikov opened #156 "HashDto in db still has Field instead of Fields"
FormatException: Element 'Field' does not match any field or property of class Hangfire.Mongo.Dto.HashDto.

We have migrate no backup strategy enabled. However after upgrading to 5.12 we are getting the above error. I looked at commits it looks like it has v 13 in migrate even though the component itself is only 12. Could that be the issue that Field is not updated to Fields?

[2018-11-26 20:14] gottscj commented on #156
@dmikov,

 Yikes! its a bug.
All those objects should have been deleted by the migration step. If you can. Drop the jobs db. else, you can maunally delete all dto's using this command in the mongo shell:

db['hangfire.jobGraph'].deleteMany({ "_t.3": "HashDto", $and: [ { "Field": { $exists: true } } ] })

schema v13 is correct.
I'll make sure to correct this in next release. Also looks like our mig

[2018-11-26 20:17] gottscj commented on #154
@langsweirdt,

We will throw an exception if "MongoMigrationStrategy.None" is choosen and we have changed the schema. The user can then decide how to proceed.

if the DB is empty we will run all migrations from first schema to last.
I have changed the migration step to manually copy the data instead of running the "Rename" command.

[2018-11-26 20:41] gottscj commented on #156
@dmikov,

The safest will be to run the script in the mongo shell.
Depending on how you use Hangfire queues, migration (IMO) are only needed if you:

1) Have Fire-And-Forget jobs queued, but not executed yet. They will be lost if you drop the DB.
2) Have scheduled jobs queued, but not executed yet. also lost.
2) Use the information provided in the MonitoringAPI. things such as SuccededCount will b

[2018-12-10 10:40] scadorel opened #160 "Timezone issue with conflicting bsonserializer settings"
Hello,

ConventionPack doesn't have any impact on hangfire, but registered BsonSerializer does.
In our application, we use `BsonSerializer.RegisterSerializer(typeof(DateTime), DateTimeSerializer.LocalInstance);`.
We can't remove this setting from our application, but it breaks some features of Hangfire (in the UI and in some internal process of hangfire).

From the doc, BsonSerializer cannot be ov

[2018-12-10 12:01] scadorel commented on #160
@gottscj, I've send a new PR with the 0.5.13 branch; and re-tested, and it works as expected.

[2018-12-13 20:35] #155 closed

[2018-12-14 10:53] scadorel commented on #160
Validated with latest 0.5.13 binary. Thanks.

[2018-12-14 10:53] #160 closed

[2018-12-14 12:45] EngelenH opened #164 "Database is not Migrated from V12 to V14"
Trying the latest version which replaces a number of collections like statedata with the unified jobGraph collection but despite having the migration options set to migrate and backupcollections no actual migration is done.

In trying to figure out why I am also confused as to the absence of the prefix.schema collection even when making a new repo.

[2018-12-14 13:06] EngelenH commented on #164
should point out this was version 0.5.12 and I just noticed there is a 0.5.13 ... Testing to see if that fixes it.

Problem is I can run the upgrade from my dev box but deploying a new version of the application with 0.5.13 would take a bit of effort. Can I run the update with a small dummy app on my devbox using 0.5.13 but once the migration is done use my application with 0.5.12 until I can re-d

[2018-12-14 14:03] gottscj commented on #156
Fixed in v0.5.13

[2018-12-14 14:03] #156 closed

[2018-12-14 14:37] gottscj commented on #164
if there isnt a prefix.schema, we will assume an empty collection and run all migration steps and in the end add a schema to the db. there should be a schema collection. always.

Im not sure I understand the question correctly, but you should be able run 0.5.12 with schema14 the only migrations in schema14 is minor clean up no breaking changes in the db.

[2018-12-14 14:42] EngelenH commented on #164
Well I just ran the 0.5.13 version and this is the first time ever that the .schema collection has appeared for me. Problem is it started from 0.4 and got stuck during upgrade to 0.6 as the schema I am currently using is actually much newer (version 12). I changed the _id in the 1 document in .schema to 12 but now run into another issue which is a key too large error during the creation of an inde

[2018-12-14 15:02] gottscj commented on #164
stuck? would you be able to provide some more info? im also curious how you were able to run hangfire without the schema collection. :)

would you be able to drop your jobs db? do you have any unfinished jobs?

else you could clone the repo and use/hack the migration manager to run the needed migrations? on a backup of course?

[2018-12-14 15:09] gottscj commented on #164
It could also be interesting to see which index is problematic. shouldnt need to do special configuration of mongodb

[2018-12-14 15:11] EngelenH commented on #164
It's always run like this for months now. Dropping the DB is a bit of a no-go if I can avoid it as it has history in it that is kind of needed. Hacking the migration manager is pretty much what I am doing atm :)

As for stuck well the upgrade stops during the attempted creation of the index, I think this is probably due to me using Hangfire.Console too which logs a lot of the job output in the sam

[2018-12-17 03:37] tmm360 opened #165 "Job enqueue doesn't support generic methods"
Hangfire should support it on Sql implementation, but generic method parameters are not serialized into the MongoDB document.

Trying to enqueue a call to a generic method I receive `Can not find the target method.`

    Failed
    Can not change the state to 'Processing': target method was not found.

    System.ArgumentNullException
    Value cannot be null.

    System.ArgumentNullException: Va

[2018-12-17 07:32] gottscj commented on #165
@tmm360,

Doing a small test using the samples, it seems work fine.

Would it be possible for you to write a unit test exposing the behavior?

Thanks

[2018-12-17 12:41] tmm360 commented on #165
Sure, I will try

[2018-12-17 14:02] EngelenH commented on #164
Well had to start from scratch in the end anyways. Even adding the failIndexKeyTooLong parameter was not enough (It did fix the index issue).

I think the migration mechanism probably could use some work. It seems to me it is far too strict. Crap happens when you run any app for a year or more. Once the index issue was solved the migration process started to recombine all the old data into the sin

[2018-12-17 14:02] #164 closed

[2018-12-17 14:42] EngelenH commented on #164
Bit problematic, financial institutions are picky about those things for some odd reason :)

mostly along these lines though :
ERROR 10:29:00 Error occurred during execution of 'RecurringJobScheduler' process. Execution will be retried (attempt #768) in 00:05:00 seconds.

System.FormatException: Element 'Field' does not match any field or property of class Hangfire.Mongo.Dto.HashDto.

[2018-12-17 14:52] gottscj commented on #164
@EngelenH,

Makes sense.

All those objects are deleted in migration step towards schema14. you can maunally delete all dto's using this command in the mongo shell:
db['hangfire.jobGraph'].deleteMany({ "_t.3": "HashDto", $and: [ { "Field": { $exists: true } } ] })

I introduced a bug in schema13 when aggregating data. HashDto objects now have an embedded document called "Fields" instead of multipl

[2018-12-19 20:41] gottscj commented on #154
@langsweirdt,

It should be addressed in 0.5.13.
If you get a chance to check this out please let me know if this works for you so I can close this issue.
Thanks

[2018-12-19 20:43] langsweirdt commented on #154
@gottscj Great, I'll verify and let you know.

[2018-12-19 20:43] gottscj commented on #134
@jhadwen,

This should be addressed. Can you confirm "Resource" has an index for 0.5.13 (or 0.5.12)

[2018-12-19 20:44] gottscj commented on #70
The HashDto has been refactored so it now contains all fields as an embedded document. This should eliminate the duplicate key error seen.

closing

[2018-12-19 20:44] #70 closed

[2018-12-19 20:46] gottscj commented on #67
with 0.5.13 we finally have our writeonlytransaction atomic. I have been granted a dev license from @odinserj, so I can begin to test this feature.

[2018-12-19 20:46] gottscj commented on #67
with 0.5.13 we finally have our writeonlytransaction atomic. I have been granted a dev license from @odinserj, so I can begin to test this feature.

[2018-12-19 20:47] gottscj commented on #54
history graph is fixed in #121 - closing

[2018-12-19 20:47] #54 closed

[2018-12-20 01:07] jhadwen commented on #134
Hi, although I can confirm that there is now an index on "Resource" with 0.5.13, however that index is not unique which means unfortunately this issue still exists.

Thanks

James

[2018-12-20 13:44] gottscj commented on #134
@jhadwen,

verdamt. the need for the index to be unique somehow eluded me. Looking thru the code, I see we use upsert many places without ensuring the uniqueness of the indexes.
I will update the indexes for 0.5.14

Thanks!

[2018-12-20 22:55] jondavidford commented on #134
Hi all, I have already implemented a patch for this distributed lock issue and I will create pull request with the changes tomorrow.

[2018-12-22 09:30] langsweirdt commented on #154
@gottscj I can confirm that 0.5.13 indeed solves this issue. Can be closed.

[2018-12-22 09:32] #154 closed

[2018-12-27 17:23] scadorel opened #167 "Requeued job (manual or autoretry) are always shown as "aborted" when using multiple hangfire servers"
Hello,

We're using multiple hangfire servers. A requeued job might be processed by another server; but when it does, the job is incorrectly shown as "aborted" in the UI because the serverId is an old one. The "Started" date is also incorrect (showing first run start date instead of current one).
I've tested with SQL server storage, and the issue doesn't appear. It seems specific to mongo storage.

[2018-12-27 17:54] gottscj commented on #167
@scadorel,
That would be great!
If you could add a unit test and branch off 0.5.14, it would be awesome!

I will be releasing 0.5.14 first thing in the new year.

Thanks!

[2018-12-27 17:56] gottscj commented on #165
@tmm360,

Did you get a chance to test this further? I would be great that, if there is an issue, we could provide a fix for 0.5.14.

Thanks

[2018-12-27 18:48] tmm360 commented on #165
No I'm sorry, I will try on next days

[2018-12-27 19:52] scadorel commented on #167
@gottscj,
Sure, I'll try to provide the PR tomorrow.
Thanks.

[2018-12-29 03:41] tmm360 commented on #165
I didn't write tests, but I wrote very simple cases where this and another (I think very similar and related) issues appear.
On Asp.net Core sample project you can add these lines on `HomeController`:

    public ActionResult FailingOnClient()
    {
        BackgroundJob.Enqueue(() => FailingOnClientJob<string>());
        return RedirectToAction("Index");
    }

    public ActionResult FailingOnS

[2018-12-29 09:48] gottscj commented on #165
Thanks! I'll try to fix for 0.5.14

[2018-12-29 20:54] gottscj commented on #165
@tmm360,

I updated a issue in the Hangfire repo with a failling unit test for this scenario.

https://github.com/HangfireIO/Hangfire/issues/1168

Thanks

[2018-12-30 00:59] tmm360 commented on #165
Thank you for your help!
You have found my issue, because into my project I don't have a parameter for each generic type that I pass.
I'm using these generic types with an other internal logic, but I've actually solved invoking an other not-generic proxy method that takes these types as arguments, and use reflection for invoke the generic one.

If hangfire could serialize also generic types it wou

[2019-01-02 08:53] scadorel commented on #167
Thanks @gottscj
I've updated with latest 0.5.14 and the issue is fixed. Closing.

[2019-01-02 08:53] #167 closed

[2019-01-02 10:39] provanguard opened #173 "Dashboard, top menu, Recurring Jobs count is 0 on release 0.5.14."
After updating to the latest release (0.5.14), I have noticed that the counter for Recurring Jobs in the Hangfire Dashboard always shows 0, even though there are jobs listed on the page and they seem to be executing. Is this related to code changes in the latest release?

[2019-01-02 12:02] gottscj commented on #173
@provanguard,

Its a bug introduced in 0.5.14, I missed updating a query for Recurring-Jobs which now uses a composite key.
We were also missing a unit test for this, so this is added in the PR

Thanks

[2019-01-02 12:02] gottscj commented on #134
Fixed

[2019-01-02 12:02] #134 closed

[2019-01-02 12:32] scadorel opened #175 "GetAllItemsFromSet truncated values on release 0.5.14"
Hi,

With the latest release (0.5.14), the GetAllItemsFromSet truncates values which contains ":". Seems related to changes done for #168, the format in db has changed.
I'm using Hangfire.Console which relies on the set feature. JSON values are saved in a set (multiple usage of ":"). When retrieved by the extension, values are truncated resulting in JSON parse exception, breaking the extension.
Th

[2019-01-02 15:12] gottscj commented on #175
@scadorel,

Thanks for the unit test.
I SetDto actually still has a "Value" field which should have been used.

I will supply a fix shortly

[2019-01-03 21:00] gottscj commented on #173
@provanguard,

I have released v0.5.15, please go ahead and close this issue, when you have confirmed its been fixed.

Thanks!

[2019-01-03 21:01] gottscj commented on #175
@scadorel,

I have released v0.5.15, please go ahead and close this issue if you can confirm its been fixed.

Thanks!

[2019-01-04 08:57] provanguard commented on #175
The count is fixed now.
By the way, what is the current list of collections that the Hangfire.Mongo should create and use? During the recent migrations, I have noticed that the number of collections created is changing. Sometimes some collections are not created on some environments.
With the 0.5.15 I now have 4 collections in my dev database:
- hangfire.jobGraph
- hangfire.locks
- hangfire.schema

[2019-01-04 09:16] gottscj commented on #175
@provanguard,

The collections are correct in 0.5.15.

We are working on adding a tailable collection (signal) so polling could be avoided. accidentally that work creeped into the master branch (and a release) and the collection has been part of the system in the past couple of releases, until now where I explicitly remove it in schema 16.

We havent been good enough to test the migrations, and th

[2019-01-04 09:40] provanguard commented on #175
Great, you can count on my input, if I notice any issues :)

[2019-01-04 09:42] provanguard commented on #173
The count has been fixed in the new release.

[2019-01-04 09:42] #173 closed

[2019-01-04 13:15] scadorel commented on #175
@gottscj Still need to do something else but I'll try to do the test today and let you know. Thanks :)

[2019-01-04 23:55] scadorel commented on #175
Works like a charm. Thanks for the fix. 👍

[2019-01-04 23:55] #175 closed

[2019-02-15 13:42] sowa111111 opened #179 "Broke app on startup"
If MongoDB is unavailable when the application is started, then Hangfire throws the exception `Could not place a lock on the resource 'Migrate'` and the app can't run.
It would be nice if this `critical for hangfire` issue did not break the application.

[2019-02-18 15:18] gottscj commented on #179
@sowa111111,

I agree the error could be more descriptive.
I think we will still throw an exception if we cant connect to the DB. So your application needs to catch that if that is a valid startup condition for you.
We can add tests verifying the connection. We will try to add that for next release.

Thanks,
Jonas

[2019-03-08 23:26] kcragin commented on #179
@sowa111111 @gottscj what causes this issue? I've setup Hangfire.Mongo for the first time and can't connect. I am using the same connection string and database that other parts of the service can connect to without problem.

[2019-03-14 15:35] sowa111111 commented on #179
Hello

We are using hangfire. Mongo lib. And today we did some load testing, and
get horrible results on it. Looks like the reason is 'looks'. Maybe you
have any tips how configure Mongo connection to impruve performance.

пн, 18 февр. 2019 г., 18:18 Jonas Gottschau <notifications@github.com>:

[2019-03-14 15:54] gottscj commented on #179
@sowa111111 ,

Did you mean 'locks' ?

Hangfire controls when lock are acquired and why.
How did you load test and what results were you expecting? what is your configuration?

Its possible to start multiple instances of Hangfire. That could perhaps be a solution?

[2019-03-14 18:22] sowa111111 commented on #179
Yeah, sorry. I mean locks😊

Basically, we have we api service with hangfire. The service responsobility
to schedule, update and delete jobs in hangfire. We did the load testing
with special framework, which simulate hundreats request from multiple
users. We got really low results, and big response time. With additional
logging we found that the reason looks like 'locks' in database.

We use the sa

[2019-03-15 17:00] gottscj commented on #179
using our sample code in combination with Parallel.Foreach I can enqueue 1000 jobs in approx 450ms in debug  mode on my old macbook.

I did not try to interleave with deleting or updating jobs. Im not sure what your use case is, but if you need faster im nor sure this is the framework you need. If you need distributed work, you could look into NetMq which should be very fast.

`var sw = Stopwatch.

[2019-03-20 18:28] nickmistretta9 opened #180 "Jobs Stuck In 'Enqueued' State"
I am getting an issue where multiple jobs will be in the Enqueued state, but never make it out of there. When I click on the queue in the dashboard, it shows no jobs to be found, even though there is a number of them showing. In Atlas, when I query for `{StateName:"Enqueued"}`, it shows those n jobs that are stuck. The jobs are enqueued every minute from a recurring job setup, which is set up to l

[2019-03-20 19:22] gottscj commented on #180
@nickmistretta9 ,

Would it be possible to attach some info about the stuck job? I especially interested in
JobQueueDto's still in the queue.
Below is from memory so it might be faulty ¯\_(ツ)_/¯

{ "$and": [{ "_t": "JobQueueDto"},  { "FetchedAt", {"$ne": null} }] }

Also try to query JobQueueDto's by the stuck jobs "JobId", see if its been fetched.
Also all writes are logged to hangfire's logging

[2019-03-21 03:31] ahmedamen opened #181 "error when trying to connect mongodb on host only ?"
Hi
i have and asp core app i try to use hangfire to do some tasks, **it works fine on my windows develop pc** , but when i have add purplish to host (digitalocean) with **Ubuntu 18.04** i got this error

Could not place a lock on the resource 'Migrate': Check inner exception for details.

TimeoutException: A timeout occured after 30000ms selecting a server using CompositeServerSelector{ Selectors

[2019-03-21 12:11] ahmedamen commented on #181
any help ?

[2019-03-21 13:32] nickmistretta9 commented on #180
@gottscj Thanks for your response! When I query for "JobQueueDto" I am getting no results from the `hangfire.jobGraph` DB. I filtered by `{StateName:"Enqueued"}` to get the list of jobs that are "stuck" in the enqueued state and here is an example of one of the response objects:

[code]
I am going to attach a logger and see what I can get out of it, but let me know if this is helpful in the meanti

[2019-03-22 09:02] gottscj commented on #181
@ahmedamen,

Looking at the error message it seems you are missing some authentication:

: An exception occurred while opening a connection to the server. ---> MongoDB.Driver.MongoAuthenticationException: Unable to authenticate using sasl protocol mechanism SCRAM-SHA-1. ---> MongoDB.Driver.MongoCommandException: Command saslStart failed: Authentication failed..

[2019-03-22 18:43] gottscj commented on #180
@nickmistretta9 ,

Can you query the JobQueueDto object by the JobId you showed above? Im wondering if the job is actually run, but the state is not updated.
Looking at the Job you show above it seems to be a recurrent job, but the loop in your first post its a scheduled job.
Do you see a pattern in the stuck jobs in regards with how its scheduled?

Thanks!

[2019-03-22 21:44] ahmedamen commented on #181
but i can use same connection to connect to db using mongoboster or mongo compas

so can i got help for that please ?

[2019-03-25 10:01] gottscj commented on #181
@ahmedamen,

Could you try the overload taking the MongoClientSettings.FromConnectionString and check what the credentials look like?

Is this a problem you are seeing with Hangfire.Mongo or can you connect using the Mongo C# driver at all?

[2019-03-25 10:03] gottscj commented on #180
@nickmistretta9,

I am able to reproduce locally. It seems to be related to a lock timing out. if you wait 90s the lock is droppet and tried again. I am looking into why its not able to acquire the lock

[2019-03-25 13:40] nickmistretta9 commented on #180
@gottscj Hey sorry for the delay in my response! So that first loop is called by another recurring method, like so:

[code]

Which database would the `JobQueueDto` appear in? When I query `hangfire.jobGraph`, the only object that shows up for that JobID is the one that I linked above.

[2019-03-25 20:03] gottscj commented on #180
@nickmistretta9,

The JobQueueDto lives in the jobgraph. But only while the job is being processed.

I figured it out. There is not a bug per se. and your job _will_ be processed. Our wait times is be bit out of date, compared to SqlServer implementation. If the distributed lock fails to acquire a lock it will wait the timeout given by Hangfire.Core / 10.

Hangfire.Core gives a timeout of 900000 m

[2019-03-25 21:12] nickmistretta9 commented on #180
@gottscj Ok great thank you for that information! So even if the job is processed after 90 seconds, will this new implementation remove them from the database upon completion? We are trying to also ensure that should these jobs timeout or not be picked up by the lock that in the dashboard/database we won't have a "queue" with however many jobs timed out.

[2019-03-26 08:53] gottscj commented on #180
@nickmistretta9,

I apologize I was a bit unclear.
The actual job is not "stuck" in 90s. Its executed as fast as possible. Its the job data Update which is stuck. eg. changing the state from "Enqueued" to "Processing" and then to "Succeeded" (or "Failed").

The enqueued jobs are not executed under lock, only updating the state data. So the information in the dashboard is not showing the correct in

[2019-03-28 08:49] gottscj commented on #181
@ahmedamen,

Did you solve your problem? Then please close this issue. :)

[2019-03-28 10:02] ahmedamen commented on #181
Solved

[2019-03-28 10:03] #181 closed

[2019-03-28 12:34] gottscj commented on #181
@ahmedamen,

Glad to hear it. :)
If its not too sensitive information, it would be great to hear how you solved, it so others having the same issue could benefit from that information.

Thanks!

[2019-04-02 00:24] KyleCraviotto commented on #179
My team ran into this same issue this week after upgrading 0.5.15
It caused a lot of heartache, until we realized it wasn't able to 'get a lock' on the temporary collection migrationLock because our database admins have turned on the admin command notablescan https://docs.mongodb.com/manual/reference/parameters/#param.notablescan

The solution ended up creating indexes for ExpireAt and Resource.
I

[2019-04-02 11:02] gottscj commented on #179
@KyleCraviotto,

Thanks for the input. I have rewritten the migration lock to not use the distributed lock used by hangfire as this collection might need migration also.

The migration lock will use a known "Id" a single index for locking the migrations. Hopefully this would give you a better experience when using the migrations

[2019-04-08 08:50] EngelenH opened #182 "Hangfire 1.7.0"
With the release of Hangfire 1.7.0 I am wondering if there is any impact (as there is also some breaking changes and data changes) for Hangfire.Mongo.

And if there is what the expected timetable is for a new version (note I just ask so I know if I should plan the upgrade on my end already or postpone until a later date).

Cheer,
Hans

[2019-04-08 09:09] gottscj commented on #182
@EngelenH,

Im planning to release 0.6.0 late next week.

That will be targeting Hangfire 1.7.0. There are some breaking changes in the hangfire api, but it shouldnt be necessary to do a migration to support that.
0.6.0 will also introduce a tailable collection for signaling jobs enqueued and locks released.

Br

[2019-04-08 14:27] provanguard opened #183 "Jobs fail randomly with System.IO.FileLoadException"
I am getting this error frequently and randomly. I am trying to locate the cause of the problem. Can you help?

[code]

I am using MongoDB.Driver version 2.8.0 and have been testing Hangfire versions 1.6.22 - 1.6.25, which all have the issue.

[2019-04-10 11:16] provanguard commented on #183
The error went away, after ensuring that only one instance of the application accesses the database. Is this an issue related to the Hangfire.Mongo package, or something specific to the Mongo DB or Hangfire?

[2019-04-10 12:02] provanguard commented on #183
Got feedback from Hangfire. It seems to be a Hangfire related problem. They don't support multiple applications or instances of the same application to access the same database.

[2019-04-10 12:02] #183 closed

[2019-05-01 20:16] gottscj commented on #180
Should be resolved in 0.6.0, please let me know if it doesnt work as expected.

[2019-05-01 20:16] gottscj commented on #179
I added an optional connection check (defaults to true). please let me know if it doesnt work as expected

[2019-05-01 20:16] #179 closed

[2019-05-01 20:17] gottscj commented on #182
Referencing Hangfire.Core 1.7.1 and latest mongo driver in 0.6.0, please let me know if you have any issues.

[2019-05-01 20:17] #182 closed

[2019-05-01 20:18] gottscj commented on #11
I can finally close this one. in 0.6.0 we are using tailable cursors to signal job queue and distributed lock. enjoy

[2019-05-01 20:18] #11 closed

[2019-05-09 13:12] Caskia opened #185 "when init hangfire mongodb requires migration"
Version: 0.6.0
when first time initialize the database(not upgrade database), it will throw the require migration exception.

[2019-05-09 18:33] gottscj commented on #185
@Caskia,

We need you to input what you want to do if a migration is needed. By default we will throw an exception if you havent set the migration strategy.

We should probably be address this, as this shouldnt be needed when there is no db to begin with. :)
I recommend you set the migration options like this if you just are trying it out
`
var migrationOptions = new MongoStorageOptions
{
      Mi

[2019-05-10 04:06] Caskia commented on #185
Hi gottscj:
I know your migration rule. What I want to express is that there is no database, when we start use this first time, it throws this exception in this new version(0.6.0). The previous version does not.

[2019-05-12 19:14] bogdanmarin commented on #185
Same here, this is very critical to us. It seems if there is no database it does not start. please provide a fix for this.

[2019-05-12 19:19] bogdanmarin commented on #185
Application:
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: MongoDB.Driver.MongoCommandException
   at MongoDB.Driver.Core.WireProtocol.CommandUsingCommandMessageWireProtocol`1[[System.__Canon, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]].ProcessResponse(MongoDB.Driver.Core.Connections.Connection

[2019-05-12 19:27] gottscj commented on #185
@bogdanmarin

what driver version are you using? Im trying this now on Mongo v4.0.3 and I cant reproduce

[2019-05-12 19:36] bogdanmarin commented on #185
We are using Hangfire.MongoDb 0.6.0, MongoDB.Driver 2.8.0.

[2019-05-12 19:38] gottscj commented on #185
Could you add some more information?

what is your setup? its a fresh db? do you have multiple instances of hangfire running? everything you can think of. you are not giving me much to work with..

[2019-05-12 19:41] gottscj commented on #185
also please add logging:

`config.UseColouredConsoleLogProvider(LogLevel.Trace);`

Please also try the asp-net-core sample and see if you get the same error. is the mongo db version 4.0.3 or the newest 4.0.9?

[2019-05-12 19:41] bogdanmarin commented on #185
Yes, so we have a fresh db, Mongo is v4, Driver is 2.8.0 and your lib is 0.6.0 and we recently upgraded to 0.6.0 and sudently our service is not starting anymore.

We are using these strategies:

new MongoMigrationOptions
        {
            Strategy = MongoMigrationStrategy.Drop,
            BackupStrategy = MongoBackupStrategy.None,
        };

[2019-05-12 19:46] bogdanmarin commented on #185
MongoDB is 4.0.4

[2019-05-12 19:49] bogdanmarin commented on #185
It seems we get the same error even with Mongo DB 3.2,3.6 and 4.0.4.

[2019-05-12 19:59] bogdanmarin commented on #185
Any updates? Again I think @Caskia description is accurate. It throws exception when there is a first time initialization (no database). This never happened with prev version, it has to do with latest changes. The problem is that we cannot downgrade eather because then we will have the bug that hangs jobs in enqueued state present in the prev version so we are stuck now..

[2019-05-12 20:03] gottscj commented on #185
I just tried 4.0.9, the latest, I can't reproduce.

Could you try the latest version.
Please add the logging, also please try the asp net core sample.

My understanding is that @Caskia, did not provide migration options. @Caskia, do you still get exceptions even if you add the migration options?

[2019-05-12 20:05] gottscj commented on #185
@bogdanmarin ,

You can use 0.5.15, the enqueued job bug is only for the monitoring api. the actual job is executed.

[2019-05-14 02:18] Caskia commented on #185
@gottscj
If use migration options, won't get the errors.
But when use previous version there is no need to use migration options at first time initialization(database)

[2019-05-16 08:48] gottscj commented on #185
@Caskia,

For an empty db we are actually running all migrations. I Personally think that explicitly stating how you want to handle migrations is better than a default setting which you might not have considered.

@bogdanmarin, Did you progress in your debugging?

[2019-05-24 10:00] amartsineuskigodeltech opened #187 "Make 'MongoConnection' public."
Hi.
We are using _Hangfire.Mongo v.0.5.15_. After update to version 0.6.0 we found, that class _MongoConnection_ became internal.
In our application we inherited from _MongoConnection_ and override method _GetFirstByLowestScoreFromSet_ with faster query.
That will be great possibility to use your code-base class with customization. It will allow users to be more flexible.

[2019-05-26 19:41] gottscj commented on #187
@amartsineuskigodeltech,

We can definitely figure something out. I did change the schema for SetDto's though. I had to create a compound key as part the need for creating unique indexes.
I moved to internal as I sometimes need to make breaking changes which implicitly would break depending code if this is public. But I we can make it public again. no problem.

Would you interested in providing a

[2019-06-03 10:23] jehof opened #188 "Error on releasing mutex"
Occasionally we get the error message "Error releasing mutex for resource 'Hangfire:recurring-jobs:lock' current count: 1"

and and exception like

We are running Hangfire in an testenvironment with a single MongoDB (4.0.5). The MongoDB is running within a docker container.

Is there anything we need to configure, to avoid theses errors? We are using a simple setup like

[code]

[2019-06-03 13:16] gottscj commented on #188
@jehof ,

Would you be able to add some logging?, you could add

GlobalConfiguration.Configuration.UseLogProvider(new ColouredConsoleLogProvider());
I also wrote a FileLogProvider which writes to a file, its here:
https://github.com/sergeyzwezdin/Hangfire.Mongo/blob/master/src/Hangfire.Mongo.Sample.ASPNetCore/FileLogProvider.cs

That would make it easier to check whats happening. The code checking

[2019-06-03 19:08] jehof commented on #188
I´ve turned logging on. lets see what happens. I post the results tomorrow.

[2019-06-04 08:11] jehof commented on #188
Here a some logs that I have recorded. I hope it helps to track down the problem

{"Timestamp":"2019-06-04T07:36:22.2576129+00:00","Level":"Debug","MessageTemplate":"{State:l}","Properties":{"State":"Server myserver:1:85835f4c heartbeat successfully sent","SourceContext":"Hangfire.Server.ServerHeartbeatProcess","MachineName":"myserver","ThreadId":46},"Renderings":{"State":[{"Format":"l","Rendering

[2019-06-04 08:20] gottscj commented on #188
@jehof ,
I apologize, I didnt mention you should set the loglevel = TRACE.

Are you running multiple hangfire instances or are their anything else you can tell me so I can reproduce your environment.

Thanks

[2019-06-04 08:48] gottscj commented on #188
@jehof ,

no need, the bug is pretty obvious now that im looking at it.

[2019-06-04 09:34] jehof commented on #188
ok. that sounds good. It tried **Trace** as LogLevel but Serilog reported an error.

No that I looked again at the configuration basics of Serilog I should have used **Verbose**. 😄

[2019-06-12 08:52] XGSleepWalker commented on #61
@provanguard can you explain some of the properties you configured to make this error stop? I'm having this exact same problem and I'm a bit lost at what I should be looking at.

[2019-06-12 11:29] provanguard commented on #61
In Hangfire configuration:
[code]

In Mongo settings:
[code]

[2019-06-15 20:11] sameerAhmad9291 commented on #185
I am using **ASP.NET Core** I solved this problem by inserting below code in ConfigureServices function **Startup.cs**

            var migrationOptions = new MongoMigrationOptions
            {
                Strategy = MongoMigrationStrategy.Drop,
                BackupStrategy = MongoBackupStrategy.None,
            };
            var storageOptions = new MongoStorageOptions
            {

[2019-06-27 13:11] LucyGoosey opened #191 "Error Logged on ThrowOperationCanceledException"
When attempting to stop the Hangfire BackgroundJobServer using `SendStop`, the `MongoNotificationObserver` raises an Error level log due to "System.OperationCanceledException: The operation was canceled."

Ideally I think this would just be ignored, as it is the expected behaviour to cancel the operation.

Error log:
[code]

[2019-06-28 04:00] paulyipkh commented on #185
I also encountered a similar problem when upgrade to v 0.6.1 with an exception
MongoDB.Driver.MongoCommandException: 'Command createIndexes failed: Index with name: Resource already exists with different options.' on Hangfire start.

Strategy = MongoMigrationStrategy.Migrate,
BackupStrategy = MongoBackupStrategy.Collections

though it works if I drop the database and set the backup strategy to Non

[2019-07-01 08:09] gottscj commented on #188
@jehof ,

The issue should be fixed in 0.6.1. Could you please let me know if you agree. :)

Thanks!

[2019-07-01 12:29] jehof commented on #188
The issue seems to be fixed. Good job

[2019-07-01 12:49] jehof commented on #191
I get the same exception, when I am stopping my application and hangfire tears down

[2019-07-03 17:48] LucyGoosey commented on #191
Fixed in PR #193 :)

[2019-07-03 17:48] #191 closed

[2019-07-11 10:09] #188 closed

[2019-07-11 13:07] provanguard opened #194 "Error observing notifications"
With the latest Hangfire, Hangfire.Mongo and Mongo, when I use Ctrl+C to stop my dotnet core application running in the debug window, I am getting this exception logged by the application:

[code]
Do I need to configure something in order to stop the application "cleanly" ?

[2019-07-11 13:15] gottscj commented on #194
@provanguard,

No its expected as cancellation is being requested. I however do not handle it gracefully.

#191 submitted by @LucyGoosey, addresses this issue, I just need to push a new release.

Will do this ASAP.

[2019-07-11 13:20] provanguard commented on #194
Thanks for the very quick reply ! I will await the new release.

By the way, I am now working on migration my application from using Hangfire 1.6.x to 1.7.x. Are there any specific actions I should take from the perspective of Hangfire.Mongo and Mongo ?

[2019-07-11 21:19] F-Amaral opened #195 "Operation Cancelled on CheckConnection"
Hello,
So I'm using a remote mongoDB Atlas service to host my mongo cluster, and the connection string is in this format:

**mongodb+srv://user:pass@cluster-id.mongodb.net/database?retryWrites=true&w=majority.**

I have tried using multiple variations of it within the UseMongoClient method, and it does goes fine up to the CheckConnection method, where it throws a ThrowOperationCancelledException,

[2019-07-14 16:01] hitchhiker opened #196 "FormatException: ObjectSerializer does not support BSON type 'Timestamp'."
Mongo 4, works on local machine, does this on server (same mongo version)

FormatException: ObjectSerializer does not support BSON type 'Timestamp'.

    MongoDB.Bson.Serialization.Serializers.ObjectSerializer.Deserialize(BsonDeserializationContext context, BsonDeserializationArgs args)
    MongoDB.Bson.Serialization.IBsonSerializerExtensions.Deserialize<TValue>(IBsonSerializer<TValue> serializer,

[2019-07-14 16:09] hitchhiker commented on #196
Was using an older version (other package) of Hangfire mongo

[2019-07-14 16:09] #196 closed

[2019-07-15 10:23] uublive commented on #195
We are having the same exact issue as described above, unfortunately also I cannot get more information to share, as the exception doesn't tell much

[2019-07-15 14:29] gottscj commented on #195
Hi,

I'm currently on holiday. Did you try to bypass the connection check?

On Mon, 15 Jul 2019, 12:23 Matteo, <notifications@github.com> wrote:

[2019-07-16 07:53] uublive commented on #195
hello @gottscj,
by bypassing the check the connection is then ok. I cloned the repo and I'll try to see  what it is about

have good holidays!

[2019-07-16 08:03] uublive commented on #195
Ok, it's just the cancellationToken that is too short, as it's set to 1 second. MongoAtlas in some situations can reply to a ping after 1 second, hence the command gets cancelled, throwing the exception
`MongoConnectException(_dbContext, CreateObscuredConnectionString(), e);`

On **MongoStorage.cs:75** maybe the timeout for the cancellationToken should be configurable?

[2019-07-16 14:10] F-Amaral commented on #195
@uublive Did increasing the timeout solved it for you? For me it didn't matter if it was 1 or 5 or 10, the command still got cancelled in less about 1 second. If I connected to atlas with MongoDB Compass, it connected just fine.

[2019-07-16 16:51] uublive commented on #195
Yes, as a test i increased it to 5 seconds and it went through. I'm still keeping the check disabled though.
I think you can safely disabled the check, as it's just a { ping } command anyway

On 16/07/2019 16:10:37, Felipe Amaral <notifications@github.com> wrote:
@uublive [https://github.com/uublive] Did increasing the timeout solved it for you? For me it didn't matter if it was 1 or 5 or 10, the

[2019-07-17 12:55] #194 closed

[2019-07-17 12:57] provanguard commented on #195
Same issue here. I have disabled the ping, for the time being.

[2019-07-22 18:12] pavloneiman opened #197 "Connection reset by peer"
Frequently get **Connection reset by peer** on background job creation.

**Libs**:
- Hangfire.Mongo 0.6.1
- MongoDB.Driver 2.8.1

**Environment**:
Docker image  based on ASP.NET Core mcr.microsoft.com/dotnet/core/aspnet:2.2.6-stretch-slim (OS: Debian 9)

**MongoDB:**
version [3.6.12](https://docs.mongodb.com/manual/release-notes/3.6/#april-8-2019)

**Exception details:**
[code]

[2019-07-28 12:44] gottscj commented on #197
@pavloneiman,

It looks like the underlying socket is being closed? You could try to enable 'trace' logging and log whats going on?

[2019-07-31 12:00] avonheimburg opened #199 "Allow user to supply preconfigured MongoClient"
The MongoDB-C#-Client-Documentation states that it is best practice to use a single MongoClient instance for the entire application. If the app which runs hangfire also needs an independent connection to the same MongoDB server, however, we end up with two instances: The MongoClient instance used by Hangfire.Mongo and the instance used by the rest of the app.

It would be great if, instead of just

[2019-07-31 13:33] avonheimburg commented on #199
... in addition, apparently, Hangfire.Mongo opens quite a few connections. Sharing the MongoClient-Instance would help with that, too

[2019-08-19 18:21] NazmiAltun opened #202 "Setting minimum LogLevel to Trace in AddHangfire configuration throws System.MissingMethodException"
When i set minimum loglevel in AddHangfire configuration as below;
[code]
throws  System.MissingMethodException. After setting loglevel back to Debug level, exception no longer occurs.
Here is the full details of exception:

[2019-08-21 11:34] gottscj commented on #202
@NazmiAltun,

I tried to reproduce in my sample project: Hangfire.Mongo.Sample.AspNetCore.

I use the same configuration

[code]

Can you identify any differences betweem the two setups? what Mongo driver version are you using?
thanks

[2019-08-21 18:24] NazmiAltun commented on #202
@gottscj Mongo Driver  Version 2.9.0
Hangfire.Mongo Version 0.6.3

I call the function as below;
[code]

Or you can check the source code of entire startup.cs here  : [https://github.com/testokur/TestOkur.WebApi/blob/master/src/TestOkur.Notification/Startup.cs](https://github.com/testokur/TestOkur.WebApi/blob/master/src/TestOkur.Notification/Startup.cs)

[2019-08-27 06:38] gottscj commented on #195
@F-Amaral,

I increased the timeout to 5 seconds and made the timeout configurable.
Please let me konw if this sovles your issue. :)

[2019-08-27 06:42] gottscj commented on #202
@NazmiAltun,

It looks OK to me. Could you try MongoDriver 2.8.0? I will update to the latest mongo driver in next release

[2019-08-27 06:46] gottscj commented on #199
@avonheimburg, @nicholasb90,

I'll take a look. A PR would also be greatly appreciated. :)

[2019-08-27 08:02] NazmiAltun commented on #202
@gottscj  yeah it seems to be working with  MongoDriver 2.8.0 .

[2019-08-27 11:49] gottscj commented on #202
@NazmiAltun,

Ok, I will make target the new mongo driver for the next release. else a PR would be greatly appreciated. :)

[2019-09-02 01:03] NazmiAltun commented on #202
@gottscj  I can wait for the next release. No rush  :)

[2019-09-05 13:30] hetaoos opened #203 "Cannot work with mongodb.driver 2.9.1"
Hi, When I upgraded to mongodb.driver 2.9.1, An error is reported when using **Hangfire.RecurringJob.AddOrUpdate**:
[code]

Please upgrade the mongodb driver version, thank you.

[2019-09-05 13:36] Memhave opened #204 "Capped is set to false when attempting to create collections after being deleted"
Hey,

I've been investigating some issues we've been having at work and one of them is the failure to setup collections if they are deleted or disappear (we have been having issues with queues and a "fix" was to simply delete the mongo storage), but unfortunately the collections arent correctly created after they're gone as you can see:

![good](https://user-images.githubusercontent.com/8819474/64

[2019-09-05 13:38] Memhave commented on #204
As you can see, it throws a lot :D

![image](https://user-images.githubusercontent.com/8819474/64346875-3d106d00-cff3-11e9-8431-615908cf4e29.png)

[2019-09-13 09:50] Memhave commented on #204
I think you're right, that we should never "have" to delete collection but unfortunately we seem to have a use case where:

1) Deploy service + HF to cluster (this is another issue in and of it self it seems, but regardless)
2) Need to deploy due to contract / code changes etc
3) Need to remove collections in mongo ( + rehydrate other collections) -> easier to simply just drop mongo db itself (to

[2019-09-17 21:21] anton-tsiatsko opened #205 "Execution of RecurringJob is failed because of Azure CosmoDB (MongoDB) error : E11000 duplicate key error collection: Schedule.hangfire.jobGraph Failed _id or unique key constraint"
1) DB = Azure CosmoDB (Mongo API)
2) .Net Core 2.2
3) Configuration:
            services.AddHangfire(configuration => configuration
                .SetDataCompatibilityLevel(CompatibilityLevel.Version_170)
                .UseSimpleAssemblyNameTypeSerializer()
                .UseRecommendedSerializerSettings()
                .UseMongoStorage(MongoClientSettings.FromConnectionString(dbSettings.

[2019-09-17 22:28] zbartl opened #206 "Lower # of "active" workers than worker count with long running jobs in 0.6.0"
After upgrading to `0.6.0` we've started to see some strange behavior with the number of "active" workers (i.e. those processing jobs) not matching the worker count for each server whenever a significant number (> worker count) of long running jobs hits hangfire at once:
![Screen Shot 2019-09-17 at 1 29 30 PM](https://user-images.githubusercontent.com/5209490/65082360-5ad2c000-d96b-11e9-9a9a-e9918

[2019-09-18 13:02] lfongaroScp opened #207 "Error observing notifications (tailable cursor requested on non capped collection)"
Hi,
I use Hangifire with Mongo Db and Net Core 2.2
Every nuget packages are update to the last stable version
(Hangfire.AspNetCore, Hangfire.Core, Hangfire.Mongo, Hangifire.Console)

I use hangire.mongo without problems for several months, but today on my test server I get these exceptions:

[code]

about 30k of this kind of exceptions in about 3 hours, change only the id of the query.
I do not mo

[2019-09-18 16:02] jondavidford opened #208 "Race Condition in MigrationLock"
Hi there!

Somewhat related to this PR https://github.com/sergeyzwezdin/Hangfire.Mongo/pull/166, I've found another race condition that exists related to locks.

~~Since a different collection is used for MigrationLocks, that unique index that was added in https://github.com/sergeyzwezdin/Hangfire.Mongo/pull/166 does not apply and hence no guarantee that the mongo upsert will not insert two locks

[2019-09-18 16:56] zbartl commented on #206
Interestingly enough we are now seeing the completely opposite happen in a test environment where the # of "active" workers exploded beyond the worker count:

![2019-09-18_09-28-38](https://user-images.githubusercontent.com/5209490/65169014-552cb700-da0b-11e9-9b9b-c4007bf083e3.png)

[2019-09-18 18:03] gottscj commented on #204
@Memhave,

I'm not sure I fully understand the need for deleting the "notifications" collection. Do you Delete that collection only?

MongoDb needs to know if you want to create capped collection, which the "notifications" collection is. If you simply do GetCollection, and the collection has been dropped, it will create a default collection. eg NOT a capped collection. in Hangfire.Mongo we create

[2019-09-18 18:10] gottscj commented on #206
@zbartl,

yikes! thanks for the log. Let me try to figure out whats going on

[2019-09-18 18:11] gottscj commented on #206
@zbartl,

could you elaborate a bit on what your setup looks like? how many servers, queues, etc.

[2019-09-18 18:16] gottscj commented on #207
@lfongaroScp,

Did you by any chance delete the notifications collection? the error message:
"tailable cursor requested on non capped collection" tells me that the notifications collection which we use to signal queued jobs and released locks, is no longer "capped", which it should be.

Could you elaborate a bit on the how this happened?

thanks!

[2019-09-18 18:26] gottscj commented on #208
@jondavidford,

Thanks for your input. I use a different approach on the MigrationLock. I use a static Id which all locks share to try to acquire the lock.

Would you agree that this would ensure an atomic operation?

[code]

[2019-09-18 18:59] zbartl commented on #206
Sure, our local / testing environments are fairly plain:

- a single Api docker container with a shared "notifications" and server specific "x_web_12345" queue
- a single Tasks docker container with a shared "default" and server specific "x_tasks_12345" queue

effectively every enqueued job you see in the screenshots above is going to be in the "default" queue for our single Tasks server to work t

[2019-09-18 19:19] gottscj commented on #205
@anton-tsiatsko,

I would love to support CosmosDB using the MongoDB.Driver, but there are simply too many things CosmosDB does not support compared to MongoDB, so I had to give it up.

Did you try https://github.com/imranmomin/Hangfire.AzureDocumentDB

Else let me know. I might get bandwidth to create a new repo specific for CosmosDB

[2019-09-18 19:43] gottscj commented on #206
@zbartl,

Looking into the log you provided. it seems that there is a lot of jobs being enqueued, but it doesnt look like they are being processed. Would you be able to try 0.6.3? There is a bug in 0.6.0 where DistributedLock is not handling concurrency correctly: #188

thanks

[2019-09-18 19:59] zbartl commented on #206
Did try `0.6.2` and `0.6.3` yesterday, no luck there either.

[2019-09-18 21:23] gottscj commented on #206
@zbartl,

just to clarify.

You have two hangfire servers. both are listening to "notifications" and "default" queues?

[2019-09-18 21:26] zbartl commented on #206
- only api / web hangfire servers listen to "notifications"
  - nothing really going on here that's relevant to the scenarios above
- only tasks hangfire servers listen to "default"
  - this is where we're seeing the odd behavior with either too few or too many workers

in the screenshots above you can see "Servers (2)" at the top of the Hangfire Dashboard, one of those is an api / web (mostly idl

[2019-09-18 21:51] zbartl commented on #206
@gottscj I'm attempting to dig into `JobQueueSemaphore` to try to explain what I'm seeing with the semaphore counts in the trace logs, but I'm not sure I fully understand it's purpose.

From what I'm seeing:

1. new jobs are enqueued and the semaphore is `Release`ed once
2. each worker attempts to `FetchNextJob`, we check all queues and then `Wait(0)` the semaphore
3. if we successfully fetched a

[2019-09-19 07:16] lfongaroScp commented on #207
Hi,

The collection is still there (I check it). I manually execute the query and It execute succefully.

Thanks for the reply. My application use NetCore 2.2 for the server side and angular for the client side. MongoDb as database (I use the c# driver to manipulate it).
Before the last deploy everything seems work fine. I modify only a couple of angular files (I double check the commit, only *.ts

[2019-09-19 08:30] gottscj commented on #207
Could you verify the collection <prefix>.notifications is infact a capped collection?

you can either use tools like Studio 3T or the mongo shell
https://docs.mongodb.com/manual/core/capped-collections/

[2019-09-19 12:55] jondavidford commented on #208
Ah, I didn't notice that when reading the code. It would seem that an atomic operation is guaranteed there since the _id should be uniquely indexed.

But based on my observations I believe that somehow multiple migrations are able to run simultaneously. The below stack trace is an example of an error we are seeing happen occasionally when using migration strategy drop. Wondering if you have any ot

[2019-09-19 19:23] zbartl commented on #206
@gottscj Awesome, thanks! I'd hoped to be able to assist more but I appreciate your explanation.

Just gave your `0.6.4` branch a try locally and it looks like all workers are active:

[hangfire-0_6_4-test.log](https://github.com/sergeyzwezdin/Hangfire.Mongo/files/3632838/hangfire-0_6_4-test.log)

[2019-09-20 07:27] gottscj commented on #206
@zbartl,

thanks for trying out 0.6.4 branch! In the end of the log it doesnt seem like jobs are being processed else they are falling behind? But seems correct to you?

[2019-09-20 08:08] lfongaroScp commented on #207
Hi,
It is _not_ capped :-O

In production server it is capped, but _not_ in the test server. The database in test server is a copy of the database in the online server, so I don't know why there is this difference.
Anyway it's not a problem of the library.

Thanks for the help!

[2019-09-20 08:08] #207 closed

[2019-09-20 15:39] anton-tsiatsko commented on #205
@gottscj  Thank you for your comment. I'll go with Hangfire.AzureDocumentDB

[2019-09-20 15:39] #205 closed

[2019-09-22 17:42] gottscj commented on #208
@jondavidford,

Thanks. I'll take a look!

[2019-09-22 17:48] gottscj commented on #208
@jondavidford,

Would you be able to reproduce this while enabling logging? you should enable verbosity level INFO.

Thanks!

[2019-09-23 11:33] Memhave commented on #204
@gottscj

Thank you for the link, I'll take a read.

I did try to simply drop the whole DB itself, but the "issue" persists.

Unfortunately, we've moving away from HF (and "smart" solutions) and simply going without for now, but thank you for your help :).

Feel free to close the issue.

[2019-09-23 18:19] williamtetlow commented on #61
I'm posting here to elaborate a bit on @provanguard's solution.

I was having the same problem when the application was deployed to Azure but could not recreate locally and noticed that @provanguard was also having issues when deployed to Azure.

It looks like Azure will terminate inactive socket connections after 240ms. If the c# mongo clients timeouts are greater than 240ms this means that the c

[2019-09-23 19:32] gottscj commented on #208
@jondavidford,

I havent been able to reproduce, but in principle there should be small window as I try to delete the lock object when hangfire is starting up. this could potentially create a window. I addressed it in the referenced link.

[2019-09-23 21:49] jondavidford commented on #208
Thanks @gottscj, I have not had much luck reproducing this on my end either. That looks promising as a fix. Let's close the issue and I will reopen if I am able to reproduce and provide more evidence.

[2019-09-23 21:49] #208 closed

[2019-09-24 13:25] hitchhiker commented on #204
Hi @gottscj - thank you for your work. We had a similar problem, and found our server disabled due to 'out of space' on the logging disk. It had written over a terrabyte of log entries!

I believe dropping all HF collections solves it.

      Error observing notifications
      MongoDB.Driver.MongoCommandException: Command find failed: error processing query: ns=wom._hangfire.notificationsTree: _i

[2019-09-24 15:10] gottscj commented on #204
@hitchhiker,
yikes. I will make a patch so that if the notifications observer fails with "NotCapped" failure. I will not try to read from that collection again. If the observer is not running, Hangfire.Mongo will behave like the previous versions where we poll for locks and queued jobs. I will add a error log entry though.

[2019-09-24 20:10] gottscj commented on #204
I added #215. If Hangfire.Mongo gets an MongoCommandError (if not capped), it will not try to restart the observer.

It will report an (one) error and stop. documents inserted into the notifications collection will not be cleaned up and Hangfire.Mongo will fallback to rely on polling for queued jobs and released locks.

[2019-09-26 15:25] zbartl commented on #206
@gottscj

So sorry for the delay in getting back to you.

Those jobs all take about a minute or so to complete so once all 20 workers are working and the semaphore count rises well above 1 that should just be a normal back up of `Enqueued` jobs. I would say that `0.6.4` seems a sound fix to the original issue I was seeing and this issue can be closed. Thank you!

[2019-09-26 19:30] #206 closed

[2019-09-26 19:42] gottscj commented on #206
@zbartl,

Thank you for the help. I released Hangfire.Mongo 0.6.4. it should be available on nuget.org now

[2019-10-31 14:21] KyleCraviotto commented on #180
I'm continuing to see this issue in 0.6.4
i'm not sure what details you need, but we are queuing up around 900 jobs and once they are finished they queue themselves up again. It seems random, but the jobs get stuck and don't process, or only process 4-5 at a time instead of the usual 35.

[2019-11-04 09:19] gottscj commented on #180
@KyleCraviotto,

Sorry, for late reply.

logs are always helpful. The job is enqueuing itself after a succesful run? is it scheduled by a cron or as fast as possible?

How do you see this information? in the dashboard? can you confirm the job is not actually run or its the monitoring api which is lagging?

thanks

[2019-11-04 18:09] Kronos11 commented on #180
@gottscj
Here's the gist of how we are using hangfire.

Step 1) We run a recurring job every 15 minutes that queues up a bunch (up to 800) of background jobs. This job also makes sure we are not queuing up duplicate jobs and we are deleting any duplicate jobs that may have been created as well.

Step 2) Each background job runs after 3 minutes, does it's processing and then kicks off another backg

[2019-11-07 09:44] gottscj commented on #195
closing

[2019-11-07 09:44] #195 closed

[2019-11-07 09:45] gottscj commented on #203
closing

[2019-11-07 09:45] #203 closed

[2019-11-07 09:46] gottscj commented on #180
@Kronos11,

Thanks for the update, I will try to reproduce.

[2019-11-20 11:27] ffMathy opened #220 "InvisibilityTimeout should not be obsolete (yet)"
The reason is that there is no alternative, although Hangfire already has an alternative, I think it's called SlidingInvisibilityTimeout.

[2019-12-05 19:35] KyleCraviotto commented on #180
We continued to have this issue so I switched to redis to see if that would resolve the issue and unfortunately it did not. I would guess this is some underlying hangfire issue, or a problem with our code.

[2019-12-06 15:47] gottscj commented on #180
@KyleCraviotto,

Sorry I didnt try this yet. Its been a little hectic at my end. I will still try to reproduce it, to see if I can figure out what the problem is. If its a hangfire issue, we can add a ticket in that project

[2019-12-07 19:53] gottscj commented on #220
@ffMathy,

Thanks, I wasnt aware of the new configuration option in Hangfire. Let me check what it does and why its needed.

thanks!

[2019-12-07 19:55] gottscj commented on #204
closing

[2019-12-07 19:55] #204 closed

[2019-12-07 19:56] #202 closed

[2019-12-07 19:57] #199 closed

[2019-12-07 20:30] gottscj commented on #220
@ffMathy,

SlidingInvisibilityTimeout is doing the same thing we are doing, but users can opt out if the value is null. I will update Hangfire.Mongo's "InvisibilityTimeout" property to be nullable and opt out if not set.

[2019-12-08 17:59] ffMathy commented on #220
That sounds great!

[2019-12-31 17:04] MohamedChaabouni opened #223 "MongoDBRef is always null"
Hello,

When performing an action with hangfire the MongoDBRef is always null.

[2020-01-13 21:03] gottscj commented on #223
@MohamedChaabouni,

I have to admit that im not familiar with MongoDBRef. Could you help with some more info on your usecase?

thanks

[2020-01-13 22:09] MohamedChaabouni commented on #223
So I'm using a ResultFilter to use the result of the Api request for some stuff. The problem is the result contains number of attributes of type MongoDBRef that i'm using in the process of the result.

The problem is : when deserializing the MongoDBRef in a BackgoundJob the MongoDBRef gets like this : **MongoDBRef("", null)** when i'm using the HttpRequest to process the result (without using Back

[2020-01-24 12:34] PandaxZA commented on #205
@gottscj
Just checking if there is any ideas on bandwidth for this? Would be hugely appreciated

[2020-02-24 15:56] ionutbob opened #224 "Failed jobs are never executed again if InvisibilityTimeout is not set"
Hi,

I recently discovered that the failing jobs were never executed again, remaining in Processing state.
Steps to reproduce:
  1. Start a job.
  2. Stop the service/application during the job execution
  3. Restart the service.

Testing and investigating this I discovered that the issue was introduced with 0.6.6 version, with some changes regarding "InvisibilityTimeout should not be obsolete (ye

[2020-02-24 17:26] billfinch opened #225 "MongoDB WriteConcern"
Can you confirm the write concern setting for the Hangfire.Mongo Driver?

We use the default WriteConcern Primary in our environment, and it appears that HangFire is using Majority, which causes issues in our current geo-clustered replica set, and is also problematic in our MongoDB Atlas development clusters.

Is there a way to force WriteConcern Primary on the driver?

[2020-02-24 19:12] gottscj commented on #224
@ionutbob,

Thank you for your explanation.
Would you accept that we create a new instance of "MongoJobFetcher", so they dont share instance?

Thanks

[2020-02-24 19:41] gottscj commented on #225
@billfinch,

We provide different overloads for the MongoStorage instance and hangfire IGlobalConfiguration interface.

You can optionally provide your own MongoClient instance or MongoClientSettings:

[code]

[2020-02-24 19:43] gottscj commented on #225
check out all the options here:

https://github.com/sergeyzwezdin/Hangfire.Mongo/blob/master/src/Hangfire.Mongo/MongoBootstrapperConfigurationExtensions.cs

Br,

[2020-02-24 21:01] gottscj commented on #224
@ionutbob,

please review: https://github.com/sergeyzwezdin/Hangfire.Mongo/pull/227

[2020-02-25 08:11] ionutbob commented on #224
@gottscj
Thank you for your quick feedback. Create a new instance of  MongoJobFetcher seems to be a valid approach. However this would fix half of the problem. If InvisibilityTimeout is null, then the filter will contain "...new BsonDocument(nameof(JobQueueDto.FetchedAt), BsonNull.Value);" (line 109 from MongoJobFetcher). Failed jobs have FetchedAt set from their first run and are never retrieved,

[2020-02-25 22:19] gottscj commented on #224
@ionutbob,

I see your point. I would need to change the configuration also so InvisibilityTimeout is not nullable. Agreed?

Thanks

[2020-02-28 12:33] ionutbob commented on #224
@gottscj ,
Hi,

Ok, invisibilityTimeout not nullable is a valid aproach, I guess

Thanks,

[2020-02-29 19:22] gottscj commented on #224
@ionutbob,

I read your inital post again. I think I get it. give me a sec

[2020-02-29 19:42] gottscj commented on #224
@ionutbob,

please review. third time's a charm

[2020-03-01 01:18] song0320 opened #228 "when hangfire run in docker cpu 97%"
hi,
my code run with docker cpu 97%,but with out docker it's fine, any one can help me
Hangfire.AspNetCore 1.7.9
Hangfire.Mongo 0.6.6
Hangfire.RecurringJobExtensions 1.1.6
asp.net core 3.1
my code:

**ConfigureServices:**

 services.AddHangfire(configuration => {

                var storageOptions = new MongoStorageOptions
                {
                    MigrationOptions = new MongoMigratio

[2020-03-01 03:30] song0320 commented on #228
may be some thing else

[2020-03-01 08:45] #228 closed

[2020-03-01 19:15] gottscj commented on #228
@song0320,

You dont need to set the polling interval to 1s. We use a tailable collection to notify servers that jobs are enqueued. latency should be ~5ms.
I would recommend you to keep it at 15s
Hope you figured it out

[2020-03-12 03:42] cnkker opened #229 "Wirte hangfire.jobGraph error Key dup key"
2020-03-12 11:40:18 [DEBUG] (Hangfire.Server.Worker) State change attempt 1 of 10 failed due to an error, see inner exception for details
MongoDB.Driver.MongoBulkWriteException`1[MongoDB.Bson.BsonDocument]
A bulk write operation resulted in one or more errors.
  E11000 duplicate key error collection: FxTask.hangfire.jobGraph index: Key dup key: { Key: "stats:succeeded:2020-03-12" }
   at MongoDB.D

[2020-03-12 16:14] gottscj commented on #229
@cnkker,

Could you elaborate a little bit?
What version are you using, how frequent do you see this error etc. Give me something to work with.

[2020-03-12 17:24] darrenhull opened #230 "Allow setting of Mongo Shard Key"
There is currently no way to extend this to allow a shard key to be set. Really we just need a way to extend all of the models with say ShardKey  and then a way to set that dynamically through some sort of filter. similar to how the Hangfire filters work.

Also because of the way most things are either internal or sealed it is making it impossible to extend.

[2020-03-19 15:23] gottscj commented on #230
@darrenhull,

What would you need me to do, to enable your use-case?

Thanks

[2020-03-19 15:26] gottscj commented on #223
@MohamedChaabouni,

Sorry for the late reply. thank you for the explanation. Im not familiar with MongoDbRef, so I would need to look into this some more.

Could you elaborate a bit on how you setup Hangfire.Mongo?

Do you use the same MongoClient instance or is hangfire using its own? Hangfire.Mongo will create its own MongoClient if its not given an instance

[2020-03-19 15:27] gottscj commented on #225
@billfinch,

Did this solve your issue?

[2020-03-19 19:53] gottscj commented on #224
@ionutbob,

I have released v0.6.7 with a fix for this issue, please let me know if it solves your issue!

Thanks

[2020-03-23 05:29] rajurh opened #233 "Error observing 'hangfire.notifications' for MongoDB as storage"
Hi Team,

I am using Hangfire with .NET core and Mongo as a storage. We have continuous running job every 2 mins and with other different frequencies. From past 2 days application was running absolutely fine and today still Jobs are running correctly but in database we started seeing logs related to hangfire.notifications. When we started investigating found its capped collection with max value 10

[2020-03-25 19:46] gottscj commented on #233
@rajurh,

capped collections have a fixed count of items, when it reached the limit it will override the oldest documents in the db. consider it as a circular buffer. so it should not run out of i items.
https://docs.mongodb.com/manual/core/capped-collections/

Could you elaborate a bit on what version you are a using and something about your setup in general?

Thanks!

[2020-03-25 20:36] rajurh commented on #233
I am using Hangfire.AspNetCore 1.7.9
Hangfire.Mongo 0.6.6

We have hangfire job which runs different frequencies like every 2min, 10min, 15min where it fires and based on which some business operations it performs like calling database and placing msg in rabbitmq etc.

Yes I agree with capped collection explanation its only application logs with error as shown in original thread.

But still Job ge

[2020-03-29 18:50] gottscj commented on #233
@rajurh,

It seems it could be an issue with the mongo driver. Looking at the inner exception, it looks like the driver is trying to read too much data from the stream while receiving data.
The NoticationObserver will restart, and even if it stopped, jobs would still be fetched at the specified poll interval. so your jobs will be executed. but I can understand you would like to avoid the noise in

[2020-03-29 19:11] rajurh commented on #233
@gottscj

Yes Jobs are getting executed no issue, its the logs which are getting flooded almost every time job kick starts in my case job runs every 2mins. Which means error log found every 2min once.

Now what I did is dropped entire database and recreated it started working without any issues but this will not be a production solution. I am more concerned if issue occurs in Prod what are the opt

[2020-03-30 11:33] gottscj commented on #233
@rajurh,

Its the MongoDB driver which throws the exception trying to read from the network stream. My guess is that there is an issue with the network or its a bug in the driver. I am catching the exception, so there is not much more I can do?

I will try to reproduce, but I dont think I can in a local setup. :)

[2020-04-05 19:55] darrenhull commented on #230
Hi @gottscj,

Thanks for replying when using sharded collections with MongoDb you have to specify the property that is used as the shard key and every document that is inserted needs to have the shard key set. All queries to the database must use this shard key to update the data. You are still able to query the data without the shard key though

What I need to be able to do is attach a property t

[2020-04-13 04:08] Agies opened #234 "Seeing an Internal Error when Checking Retries and Reoccurring Jobs"
**Version:** 0.6.7

**Error:**
MongoQueryException: QueryFailure flag was true (response was { "$err" : "have to have sort key in projection and removing it", "code" : 13431 }).
MongoDB.Driver.Core.WireProtocol.QueryWireProtocol<TDocument>.ProcessReply(ConnectionId connectionId, ReplyMessage<TDocument> reply)
MongoDB.Driver.Core.WireProtocol.QueryWireProtocol<TDocument>.Execute(IConnection connect

[2020-04-13 17:56] adrianrosca opened #235 "Cannot create field 'Continuations' in element {Parameters: […]}'"
I get this error on `BackgroundJob.ContinueJobWith` with this version:
- Hangfire.Mongo v0.6.7

If I downgrade the same lib it works:
- Hangfire.Mongo --> v0.5.12

Described in more detail here:
https://stackoverflow.com/questions/61192195/hangfire-mongodb-exception-cannot-create-field-continuations-in-element-para

[2020-04-14 07:06] gottscj commented on #234
@Agies,

Thanks, I will give it a try.
- What version of Mongo db are you using?
- Was this an issue on 0.6.6?
- What version did you use prior to this version?

Im trying to figure out if this is related to changing to the latest driver

[2020-04-14 07:57] gottscj commented on #235
@adrianrosca,

Thanks,

I will try to reproduce. What version of MongoDB are you using?

[2020-04-14 11:16] adrianrosca commented on #235
I'm using the following libs:
mongocsharpdriver - v2.10.3
MongoDB.Bson - v2.10.3
MongoDB.Driver - v2.10.3
MongoDB.Driver.Core - v2.10.3
MongoDB.Libmongocrypt - v1.0.0

I'm also using these Hangfire libs:
Hangfire - v1.7.10
Hangfire.Core - v1.7.10
Hangfire.SqlServer - v1.7.10

I tested different versions of both MongoDB and Hangfire, but that didn't make a difference. The only thing that made a dif

[2020-04-14 12:03] gottscj commented on #230
@darrenhull,

I havent forgotten about you. Im just struggling to make ends meet when working from home and having to home-school two kids also.

I am looking into possible solutions

[2020-04-14 13:30] darrenhull commented on #230
Yes I’m in the same predicament at the moment, two young kids and working from home. :-(

Let me know if I can help at all.

[2020-04-14 15:07] Agies commented on #234
@gottscj

* Mongo: 3.0.10-1.5
* This is our first time using Hangfire and I have not tried rolling back through the versions

[2020-04-22 09:40] shenjielx opened #237 "Awaiting job not expired and deleted when job is expire."
![image](https://user-images.githubusercontent.com/3380621/79966427-feff8500-84bf-11ea-81c5-573f3054e246.png)

use the continuejob, and the job expired  is 10 mins.
but the awaiting data don't expired and deleted, when the job was expired and deleted.
why?

[2020-04-22 19:56] spoofer213 commented on #180
Hello guys! I get similar bug. My recurring jobs stuck in "Enqueued" state and dont run. They are executed only after restart application, but new jobs stuck again in "Enqueued" state.
My recurring job
![image](https://user-images.githubusercontent.com/17124926/80026048-2bc89200-84ea-11ea-8863-ac5c19d62e05.png)

Stuck jobs
![image](https://user-images.githubusercontent.com/17124926/80026300-98dc27

[2020-04-23 19:51] #165 closed

[2020-04-23 19:52] #148 closed

[2020-04-23 19:53] #180 closed

[2020-04-23 19:57] gottscj commented on #187
Closing due to inactivity

[2020-04-23 19:57] #187 closed

[2020-04-23 19:57] #197 closed

[2020-04-23 19:58] gottscj commented on #224
Closing due to inactivity.. assuming issue was fixed

[2020-04-23 19:58] #224 closed

[2020-04-23 20:17] gottscj commented on #230
@darrenhull,

Im planning to do the following changes:

- Make "MongoConnection" public
- Make "HangfireDbContext" a public readonly property on "MongoConnection"
- Make "MongoClient" and IMongoDatabase" instances public readonly on "HangfireDbContext"

This should enable you to do basically anything you like using the attribute filters.

What do you think?
Thanks

[2020-04-24 15:38] gottscj commented on #230
@darrenhull,

I created PR. https://github.com/sergeyzwezdin/Hangfire.Mongo/pull/238

Let me know if it works for you.

[2020-04-25 08:00] gottscj commented on #233
@rajurh,
I tried reproducing using the sample project in Hangfire.Mongo. I was not able to reproduce the error locally.

Did the error persist?
You might need to configure the MongoClient differently for running in AKS setup?

![image](https://user-images.githubusercontent.com/12970565/80274464-d0112b00-86da-11ea-9afb-9ffe08cf5c63.png)

[2020-04-28 20:03] rgmills commented on #220
@gottscj Hi, I was looking into this, it doesn't look like there is any code in the storage provider that pushes out the `FetchedAt` value to prevent it from falling into the InvisibilityTimeout threshold.  I'm not terribly familiar with the source code, so I may have missed it.  Would you consider adding it natively or exposing a method on MongoStorage?

[2020-04-30 11:18] imarrero opened #239 "Command createIndexes failed: Field 'v' is currently not supported."
- HangFire.Mongo version: Version="0.6.7"
- MongoDB Version: EKS DocumentDB - MongoDB 3.6

Hello **Sergey**,
Im facing this error when HangFire seeds the database:

When BackupStrategy = MongoBackupStrategy.**Collections** :

[08:27:28 FTL] Program terminated unexpectedly ({appname})!
**MongoDB.Driver.MongoCommandException: Command createIndexes failed: Field 'v' is currently not supported**

When

[2020-05-03 19:08] gottscj commented on #234
@Agies,

Could you please describe how I can reproduce this error.

Thanks!

[2020-05-03 19:10] gottscj commented on #237
@shenjielx,

Could you please elaborate? Im not sure I fully understand how to reproduce this issue.

Thanks!

[2020-05-03 21:02] gottscj commented on #235
@adrianrosca,

Im not able to reproduce.
The Hangfire.Mongo lib does use MongoDB.Driver v2.10.2 and Hangfire.Core v1.7.9
Did you try these versions?
Thanks

![image](https://user-images.githubusercontent.com/12970565/80925653-efbaea00-8d91-11ea-8a6e-9557c6cc6371.png)

[2020-06-04 19:15] gottscj commented on #239
@imarrero ,

Thank you for posting.
We do not currently not support documentdb. We are using some features which documentdb doesnt support.

It is in the making, but I dont think it will make it for the next release (0.7.0).
It will definitly make it to the next one though.

[2020-06-04 21:35] imarrero commented on #239
No problem. I understand. Anyway, thanks to your code Im able to adapt the
not supported parts.
100 x thanks!

On Thu, 4 Jun 2020, 21:15 Jonas Gottschau, <notifications@github.com> wrote:

[2020-06-07 21:08] artyomabrahamyan commented on #239
@imarrero I have the same problem can you point what was your solution?

[2020-06-16 06:29] bulbulhas opened #244 "Enqueuing jobs works too slow"
Hi,
We are encountering some problems about our hangfire mongo implementation. We are really stuck at this point. I will try to explain our situation as much as i can, and maybe you can point me to right direction to find out what is our problem.

We are using:
- Hangfire 1.7.8
- Hangfire.Mongo 0,6,6

We have one storage, one dashboard and two different domain jobs. We are using scheduled jobs mos

[2020-06-16 07:04] gottscj commented on #244
@bulbulhas,

Thanks for the thorough explanation.
Would you be able to add your test app as PR?
What version of MongoDB are you using?

Thanks

[2020-06-16 07:30] bulbulhas commented on #244
@gottscj

Thanks for quick reply. I can provide code much faster here because it is relatively simple.
Our mongo cluster has 1 primary 3 secondary 1 arbitary nodes, 8 core and 16gb ram each
Mongo version : 4.2.1

	using Hangfire.Mongo;
	using System;
	using System.Collections.Generic;
	using Hangfire.Logging;
	using MongoDB.Driver;

	namespace Hangfire.Server
	{
		class Program
		{
			static void

[2020-06-20 07:11] gottscj commented on #225
closing du to inactivity

[2020-06-20 07:11] #225 closed

[2020-06-20 07:12] gottscj commented on #229
closing due to inactivity

[2020-06-20 07:12] #229 closed

[2020-06-20 07:13] gottscj commented on #220
@rgmills,

sorry I missed your comment. Im not sure I understand your use case. could you elaborate a bit?

Thanks!

[2020-06-20 07:14] gottscj commented on #230
v0.7.11 should be extendable to meet your needs. Please let me know if I missed something or I can help out.
If you have a custom setup it would be great as PR also.

[2020-06-20 07:14] #230 closed

[2020-06-20 07:15] gottscj commented on #233
@rajurh,

Im closing this due to inactivity, please let me know if you solved it.

thanks!

[2020-06-20 07:15] #233 closed

[2020-06-20 13:35] rgmills commented on #220
Hey @gottscj ,

No worries! The goal is some jobs have a nondeterministic run time and any predefined InvisibilityTimeout may be insufficient.  In our use case, we sync some data from a 3rd party.  However the 3rd party doesn't have an API to capture deltas so it ends up being a full enumeration.  Depending on the amount of data this can take awhile.

From what I remember seeing in the SqlStorage

[2020-06-20 13:54] gottscj commented on #220
@rgmills,

hopefully in v0.7.11 that should be possible to do by using the new MongoFactory class or override some of the functionality. everything should inheritable and all public functions are virtual so you can use your own implementation. You can configure everything in the MongoStorageOptions

[2020-06-20 18:57] rgmills commented on #220
Ah ok cool, thanks @gottscj  I'll take a look!

[2020-06-21 01:46] rgmills commented on #220
Looks like this covers our use-case, thanks @gottscj

[2020-06-24 22:11] rajurh commented on #233
@gottscj  - No still issue is observed but functionality is not disturbed its the noisy logs

[2020-07-03 13:37] juniormayhe opened #245 "Unhandled exception. MongoDB.Driver.MongoCommandException: Command delete failed: not authorized on DATABASE to execute command { delete: "hangfire.migrationLock""
Hello

does anyone know what would be the possible causes for this error while starting up a dotnet core application within a container? Locally it works fine.

Program.cs crashes on CreateHostBuilder(args).Build().Run(); and here are the docker logs:

[code]

I guess it could be related to `Hangfire.Mongo.Migration.MigrationLock.DeleteMigrationLock()` method, but I am not aware of hangfire intern

[2020-07-07 15:38] juniormayhe commented on #245
It seems the problem was the connection string that was not properly set in our continuous integration. It must be something like

`mongodb://<mongo_user_name>:<password>@<host>/<database name>?replicaSet=<replica set name>`

[2020-07-07 15:38] #245 closed

[2020-07-07 15:57] gottscj commented on #245
@juniormayhe,

thanks for updating the issue! Im glad you solved your issue.

[2020-07-08 10:25] kavhad opened #246 "documentation outdated"
The information in the documentation advicing how to setup hangfire for asp.net core apps is not consistent with main hangfire project documentation.

You propose using the `app.UseHangfireserver()` to start the hangfire-server process, but the main project docs the following code example is given for setup of hangfire server:

[code]

The method adviced by your doc actually caused a bug in our ap

[2020-07-09 10:05] gottscj commented on #246
@kavhad,

I agree it could be better, I will update it so its more clear.

The

`app.UseHangfireserver()`

is for ASP.NET (non-Core). I have not documentet the use IHostedServer which should be used in ASP.NET Core.

I will update immediately.

[2020-07-09 14:13] bulbulhas commented on #244
@gottscj Hi again,

With further investigation we saw that below code was the issue for our problem. In query builder "Score" field was the cause of our problem. After defining an index to it in our mongo database, delayed job scheduler started to process much much faster. I'll be creating a pr for this issue in the migration steps. If needed, I can fix the necessary parts in the code with your gu

[2020-07-09 21:19] #246 closed

[2020-07-09 21:19] kavhad commented on #246
Great thanks for the quick update.

[2020-07-16 10:28] nikheelneelay opened #248 "Unable to connect mongodb by Hangfire even after providing valid connection string"
I am trying to connect Hangfire to mongodb in my .Net Core 3.1 web api application. I have provided valid connection string but hangfire fails to connect to db in startup file itself.

Code -
`   var mongoUrlBuilder = new MongoUrlBuilder("mongodb://[username:password]@[ipaddress:port number]/**databasename**");
            var mongoClient = new MongoClient(mongoUrlBuilder.ToMongoUrl());

[2020-08-04 08:55] provanguard opened #249 "Nuget feed contains version 1.0.0, which is detected as latest stable in Visual Studio"
Is it intentional that there is a version 1.0.0 present in the nuget feed, published in October 2019?

[2020-08-04 13:11] gottscj commented on #249
@provanguard,

Thanks!

I am not able to find the offending package version. What am I missing?

[2020-08-04 13:27] provanguard commented on #249
@gottscj  Your comment got me thinking and after a quick check, it looks like the 1.0.0 package version got somehow cached on our internal nuget server. It is not listed when I select the public nuget server as a source. Thanks !

By the way, there is a new version of Hangfire available now. Is it a good practice to always wait for your package to get the updated version before updating the Hangfi

[2020-08-04 13:36] gottscj commented on #249
Phew!

There shouldnt be a problem updating the Hangfire.Core package. The only caveat though would be if @odinserj added breaking changes to the new release, which it might look like.

Im planning to merge PR #247 and create a new release supporting the new Hangfire.Core package soon though. :)

[2020-08-04 13:44] provanguard commented on #249
Thanks again!

[2020-08-04 13:44] #249 closed

[2020-08-04 13:47] odinserj commented on #249
I'm trying hard to avoid any breaking changes within the same major version, and I doubt there are any of them when talking about Hangfire.MongoDB package. Extension packages should target the lowest possible version of Hangfire.Core to avoid any possible dependency locks, where some package requires one version, and another package requires another version, and there's no way to satisfy all the r

[2020-08-04 14:00] gottscj commented on #249
Thanks @odinserj

[2020-09-09 16:26] wa926talent opened #252 "UseMongoStorage"
System.InvalidOperationException:“Could not complete migration. Never acquired lock within allowed time: 00:01:00
Either another server did not complete the migration or migration was abruptly interrupted
If migration has been interrupted you need to manually delete 'hangfire.migrationLock' and start again.”

[2020-09-09 18:54] gottscj commented on #252
@wa926talent,

Please add some more information. Tell me about your setup, steps to reproduce. what did you try? etc?

[2020-09-11 02:17] wa926talent commented on #252
.net core 3.1  Mongodb 4.4.0

[2020-09-14 10:09] dreschner commented on #205
@gottscj
I would also appreciate a version which supports the MongoDB API of CosmosDB. It workes great for us until version 0.5.12 on which we're stuck now. Everything above has problems with migrating the database schema to version 09 (using of capped collections which are not supported) as well as the problems described by @anton-tsiatsko .

Using Hangfire.AzureDocumentDB or Hangfire.AzureCosmos

[2020-09-18 18:05] gottscj commented on #205
@dreschner,

I simply dont have the bandwidth at this moment to support Cosmos also. I do have it in the pipeline though.

Every class in the Hangfire.Mongo driver is overridable though. following the steps below, you should be able to support Cosmos in your setup by overriding existing classes:
I would love a PR, but a requirement is that none of the existing code is touched, which should be poss

[2020-09-24 01:01] twgraham opened #253 "CollectionMongoBackupStrategy throws authentication error when bypassDocumentValidation permission not granted to mongo user"
I came across an issue when upgrading from 0.6.6 to 0.7.12 - using the new `CollectionMongoBackupStrategy` caused my app to crash on Startup because mongo would throw an authentication error when backing up hangfire collections. I tracked it down to my Mongo user not having permission for `bypassDocumentValidation`. My user has the default `readWrite` role for my hangfire database. The only other

[2020-10-19 02:45] shenjiegeek commented on #237
![image](https://user-images.githubusercontent.com/67115884/96395685-d995ce80-11f7-11eb-8af6-c00b640ff5c3.png)
(score is unix time, it's six months ago)
It should be deleted, but remain exists now.

[2020-11-04 10:04] NepPure opened #254 "Custom recurring job name is not a valid 24 digit hex string"
such as "job_cus_1"

[2020-11-05 01:30] NepPure commented on #254
Should call `HangfiereRecurringJob.RemoveIfExisrs`

[2020-11-05 01:30] #254 closed

[2020-11-08 18:14] gottscj commented on #253
@twgraham,

Thank you for your insights. I will try to remove it.

[2020-11-10 16:51] braca opened #256 "Add PrepareSchemaIfNecessary option"
Hi,

It would be possible to add a `PrepareSchemaIfNecessary` option (where the default could be true), that when set to `false` `MongoStorage` ctor wouldn't try to do any migration? (similar to what the `Hangfire.SqlServerStorage` does).

Currently, if MongoDB goes down after the service has been initialized, as soon as MongoDB is up again, the server recovers as expected.

But if MongoDB is down

[2020-11-13 11:18] gottscj commented on #256
@braca,

Yes, off course, I will make this functionality overridable, so you create a class inheriting MongoStorage and you can override the needed functionality.

[2020-11-20 13:40] nikheelneelay opened #259 "Unable to run .net core 3.1 application with Hangfire and Cosmos DB (Mongo Db)"
We have recently migrated our application from VM Hosted MongoDb to Azure Cosmos MongoDB and the application stopped working. I am getting an exception:
Hangfire.Mongo.Migration.MongoMigrationException: 'Migration failed in Hangfire.Mongo.Migration.Steps.Version09.CreateSignalCollection'
MongoCommandException: Command create failed: Capped collectiosn are not supported..
I believe this is because

[2020-11-20 16:06] #253 closed

[2020-11-20 16:06] gottscj commented on #256
fixed in v.07.17

[2020-11-20 16:06] #256 closed

[2020-11-20 16:07] gottscj commented on #252
closing due to lack of info and seems stale

[2020-11-20 16:07] #252 closed

[2020-11-20 16:09] gottscj commented on #244
fixed in v0.7.12

[2020-11-20 16:09] #244 closed

[2020-11-20 16:11] gottscj commented on #248
@nikheelneelay,

sorry, I missed this issue. Is this still an issue for you?

[2020-11-20 16:12] gottscj commented on #237
@shenjielx,

sorry for the late reply. I'll take a look.

[2020-11-20 16:13] gottscj commented on #235
closing due to inactivity

[2020-11-20 16:13] #235 closed

[2020-11-20 16:13] gottscj commented on #234
closing due to inactivity

[2020-11-20 16:13] #234 closed

[2020-11-20 16:14] gottscj commented on #223
closing due to inactivity

[2020-11-20 16:14] #223 closed

[2020-11-20 16:14] gottscj commented on #220
fixed

[2020-11-20 16:14] #220 closed

[2020-11-20 16:15] gottscj commented on #185
fixed

[2020-11-20 16:15] #185 closed

[2020-11-20 16:19] gottscj commented on #259
@nikheelneelay ,

We dont officially support cosmos db. you can however override options to support your use case:

Thank you for your patience.

I needed to do some changes before we could progress with this.
Last things I need from you before we can merge.

Create new CosmosStorage inheriting from MongoStorage.
override "GetComponents" only return "yield return StorageOptions.Factory.CreateMongo

[2020-11-20 16:57] flabioassuncao opened #260 "How to get the list of executed jobs?"
I need to get the date of the lasts executed jobs. Is it possible?

[2020-11-25 11:02] #260 closed

[2020-11-25 11:03] flabioassuncao commented on #260
var monitoringApi = JobStorage.Current.GetMonitoringApi();
var lastExecuted = monitoringApi.SucceededJobs(0, 2);

[2020-11-26 09:03] gottscj commented on #260
@flabioassuncao ,

Sorry I didnt reply, its a bit busy at my end. thanks for posting this!

[2020-11-27 13:56] sunch1ld opened #261 "Reset running jobs"
H therei,
I have an issue,I am using .NET core 2.1 with latest version of Hangfire.Mongo,
when I run some background jobs in a WebApi application they go in "Processing" state using a lot of cpu, in this phase I stop the application and reboot it.  In the boot phase these jobs remains in Processing phase, I would like they do no not restart and set them to deleted state,
How could I program this o

[2020-11-27 15:32] ksks88 commented on #239
@imarrero I got same issue, would you mind post your workaround?

[2020-11-27 17:54] imarrero commented on #239
Hello there!!!
Was long time ago for a POC. I downloaded Hangfire.Mongo from Sergei, then used as a library and not as a package anymore. Finally, debugging, getting errors and try to fix it  what I needed:

BackupCollection in MongoMigrationStrategyBase.cs

**Cannot guarantee** it will work right now, but you get an idea where to go and create your needs  This was mine at that time, and worked :)

[2020-12-10 07:13] gottscj commented on #261
@sunch1ld,

sorry for the late reply. You should use the filters provided by the hangfire.core lib:
https://docs.hangfire.io/en/latest/extensibility/using-job-filters.html

hope this helps.

[2020-12-21 16:40] remus-corneliu opened #262 "Fails to check when MongoServer uses credentilas"
I'm using MongoDb as job storage for my application. All is working when not using authentication credentilas for the mongoDb but failes when I do.

My mongo instance is running on docker containers.

    services:
      mongo_server:
        image: mongo:latest
        container_name: mongo-dev
        restart: unless-stopped
        ports:
          - 10050:27017
        networks:
          - my

[2020-12-21 17:17] #262 closed

[2020-12-23 08:33] jieke-wang opened #263 "Multiple Processing in one job"
I use hangfire 1.7.17, Hangfire.Mongo 0.7.17, asp.net net5.0, MongoDB 4.4.1 Single Node in docker(19.03.13)

However, there are multiple processing for the same task in the dashboard, I don't know what happened

Who can help me

![2020-12-23_163140](https://user-images.githubusercontent.com/12584587/102976379-6e8caf00-453c-11eb-9e99-8cbeed1bf080.png)

[2020-12-23 08:38] jieke-wang commented on #263
There's no problem with short-term tasks, but with asynchronous or long-term tasks

[2021-01-07 08:47] Muhammed-Aslan opened #264 "Cannot use more than 64 queue"
I got a "The number of WaitHandles must be less than or equal to 64" exception when I tried to add more than 64 queue

[2021-01-09 16:12] gottscj commented on #263
@jieke-wang,

Would you be able to paste your worker code? I need more info to be able to help

[2021-01-09 16:14] gottscj commented on #264
@Muhammed-Aslan,

could you please elaborate on the issue and paste the full exception and possible some logs ?

thanks!

[2021-01-22 21:26] Muhammed-Aslan commented on #264
the log :
2021-01-23 12:22:36 [INFO]  (Hangfire.BackgroundJobServer) Starting Hangfire Server using job storage: 'Connection string: mongodb://<username>:<password>@localhost:27017, database name: Mongo-Hangfire-Sample-NETCore, prefix: hangfire'
2021-01-23 12:22:36 [INFO]  (Hangfire.BackgroundJobServer) Using the following options for Mongo DB job storage:
2021-01-23 12:22:36 [INFO]  (Hangfire.Bac

[2021-01-24 16:35] ollie10 opened #265 "Jobs are not cleaned once expected"
Hello,

I'm using Hangfire with Mongo as storage, I'm trying to remove suceded jobs after 6 hours they are completed for doing this I'm trying in both ways adding the parameter **JobExpirationCheckInterval = TimeSpan.FromHours(6)**, of **MongoStorageOptions** and using a Global Filter:

[code]

Nothing seems to work, any clue? Many thanks

[2021-01-25 05:58] jieke-wang commented on #263
ok, of course, Sorry to reply so late

In Startup class on ConfigureServices method, when AddHangfire:

`configuration.UseMongoStorage(Configuration["MongoConnectionString"], new MongoStorageOptions
{
	Prefix = "hangfire.mongo",
	CheckConnection = true,
	QueuePollInterval = TimeSpan.FromSeconds(5),
	InvisibilityTimeout = TimeSpan.FromSeconds(5),
	DistributedLockLifetime = TimeSpan.FromSeconds(5),

[2021-02-08 21:15] Sonic198 opened #266 "Hangfire server not starting when BsonSerializer for DateTime? is set to DateTimeSerializer.UtcInstance"
When I set `BsonSerializer` as follows:
[code]

I'm getting following error every 15 seconds.

Error:
[code]

.Net 5.0
Mongo.Driver 2.11.6
Hangfire.AspNetCore 1.7.19
Hangfire.Mongo 0.7.17

[2021-02-08 22:34] #266 closed

[2021-02-08 22:34] Sonic198 commented on #266
I found answer here
https://jira.mongodb.org/browse/CSHARP-1948

[2021-02-09 07:31] Sonic198 opened #267 "Please fix issue caused by StringIdStoredAsObjectIdConvention() mongo convention"
When `StringIdStoredAsObjectIdConvention()` is used hangfire.mongo heartbeat method is failing to fix that you have to add `[BsonRepresentation(BsonType.String)]` to `ServerDto`

[code]

[2021-02-10 19:40] gottscj commented on #261
@sunch1ld,

Did you solve your issue? It would be great if you could share if you got it solved :)

[2021-02-10 19:44] gottscj commented on #263
@jieke-wang,

Thanks! I'll try to re-produce

[2021-02-10 20:27] gottscj commented on #263
@jieke-wang,

The jobs are not running but the state is changing only, from hangfire forum:
https://discuss.hangfire.io/t/disableconcurentexecution-does-not-appear-to-work/158

You can combine your attribute with [AutomaticRetry(Attempts = 0)] if you want the abandon the queued job.

I hope this helps.

[2021-02-10 20:36] gottscj commented on #264
@Muhammed-Aslan,

Thanks! I was not aware there was this limitation, I will see if I can make the number of waithandles more scalable

[2021-02-10 22:53] gottscj commented on #265
@ollie10,

im not sure about the filters. You have to ask @odinserj in the Hangfire project:
https://github.com/HangfireIO/Hangfire

It seems jobs expiry is hardcoded to 30 days. You might need to update the field after it has been added. But check the experts maintaining hangfire core. :)

https://github.com/HangfireIO/Hangfire/blob/master/src/Hangfire.Core/Client/CoreBackgroundJobFactory.cs

You

[2021-02-10 22:54] gottscj commented on #267
@Sonic198,

Thanks! I'll add the attribute!

[2021-02-19 06:42] vishnutej9492 commented on #245
Had this same issue and this was very helpful.

tried using this format and it would have this same error in containers
mongodb+srv://"username":"password"@"clusterURL"/"dbName"?retryWrites=true&w=majority

but switched to the legacy format of declaring the connection strings
mongodb://"username":"password"@"clusterURL-shard1","clusterURL-shard2","clusterURL-shard3"/"dbName"?ssl=true&replicaSet="r

[2021-03-01 14:17] atmega7 commented on #248
Yes, it is an issue,

[2021-03-03 14:46] Sonic198 commented on #267
Great! Thanks!

[2021-03-03 14:46] #267 closed

[2021-03-03 14:55] Sonic198 opened #269 "Enhancement request: Migrate code to .Net 5 and remove Newtonsoft.Json dependency"
Do you have any plans to migrate code to .Net 5 and remove Newtonsoft.Json dependency which I think can be replaced by System.Text.Json?

Thanks,
Szymon

[2021-03-06 19:01] #264 closed

[2021-03-09 20:14] gottscj commented on #269
@Sonic198,

Thank you for your request.
We are targeting netstandard2.0, which is compatible with net5. If you reference this project from a net5 project the net5 runtime will be used.

we are only using NewtonSoft for logging, so its a good candidate to remove. good call. Hangfire.Core uses NewtonSoft though so you still depend on it though, sorry. :)
My personal reference is still Newtonsoft tho

[2021-03-09 20:16] gottscj commented on #265
@ollie10,

I hope i worked out. closing this issue as it seems stale

[2021-03-09 20:16] #265 closed

[2021-03-09 20:17] gottscj commented on #263
closing

[2021-03-09 20:17] #263 closed

[2021-03-09 20:18] #261 closed

[2021-03-09 20:28] gottscj commented on #248
@atmega7,

sorry for the late reply,

could you try to run

`
mongoClient.GetDatabase(mongoUrlBuilder.DatabaseName).RunCommand((Command<BsonDocument>)"{ping:1}", cancellationToken: CancellationToken.None);
`

We dont really do anything with the given client other than getting the database and collections:
https://github.com/sergeyzwezdin/Hangfire.Mongo/blob/master/src/Hangfire.Mongo/Database/Hangf

[2021-03-12 09:59] HR-de commented on #205
Is the support for cosmos db in place?

[2021-03-12 13:30] BrunoVT1992 opened #270 "Monitoring api JobDetails uses the internal mongo is instead of the jobId"
Hi,

I am creating new recurring jobs with a custom id (for ex: "MyId-1234"). This work but when I want to query the monitroing api like below I get the exception: {"'MyId-12347' is not a valid 24 digit hex string."}.

IMonitoringApi monitoring = JobStorage.Current.GetMonitoringApi();
                JobDetailsDto details = monitoring.JobDetails("MyId-1234");

If I go look in the source code it is

[2021-03-16 07:55] gottscj commented on #270
@BrunoVT1992,

Thank you for your comment. I will take a look.
Thanks

[2021-03-16 07:58] gottscj commented on #205
@HR-de,

No, not yet. for now you can do the above steps to support Cosmos. It is on the list though

thanks

[2021-03-16 08:50] HR-de commented on #205
Hi Jonas,

I am new to both cosmos mongo and hangfire as well. So I am not sure what
are the implementaions to be given for the steps you are referring to.
Any guidance would be greatly appreciated.

Thanks

On Tue, 16 Mar 2021 at 08:58, Jonas Gottschau ***@***.***>
wrote:

[2021-03-16 10:01] gottscj commented on #270
@BrunoVT1992,

Custom ids of the DTO's would be to much work to support.
Could this option cover your use-case?
https://discuss.hangfire.io/t/how-to-set-custom-name-to-jobid/4161/4
it uses the [StorageConnectionExtensions](https://github.com/HangfireIO/Hangfire/blob/3c6d893023d5d7558d6098e80034865004b73786/src/Hangfire.Core/Storage/StorageConnectionExtensions.cs) extensions found in Hangfire.Core

[2021-03-17 07:37] BrunoVT1992 commented on #270
@gottscj yes this worked for me. Thank you for the quick response.

[2021-03-17 07:57] gottscj commented on #270
@BrunoVT1992,

glad to hear it! :)

[2021-03-17 07:57] #270 closed

[2021-03-17 17:49] tylerohlsen opened #271 "Hangfire dashboard scheduled jobs sort order"
I switched from a Redis data store to this library for a Mongo data store and noticed that the sort order on the Scheduled Jobs page of the Hangfire dashboard changed.  When I had the Redis data store, the sort seems to be ascending by when the job will enqueue next.  This was nice because when I go to the dashboard, I can see what will run next on the first page.  But with this library, I now nee